<div class="left-side" id="myScrollspy">
    <ul class="nav nav-pills">
        <li><a href="#section1">Swift 3 用戶系統</a></li>
        <li><a href="#Signup">創帳號</a></li>
        <li><a href="#Login">登入</a></li>
        <li><a href="#GetOpenID">取得用戶 Open ID</a></li>
        <li><a href="#GetSessionID">取得 Session ID</a></li>
        <li><a href="#GetToken">取得 Token</a></li>
        <li><a href="#ForgotPassword">查詢密碼</a></li>
        <li><a href="#ChangePassword">變更密碼</a></li>
        <li><a href="#ParentalLock">家長安全操作</a></li>
        <li><a href="#MyKid">設置孩童資料</a></li>
        <li><a href="#MyAccount">帳號資訊</a></li>
        <li><a href="#VerifySession">Session ID 登入驗證</a></li>
        <li><a href="#LoginByToken">Token 快速登入</a></li>
        <li><a href="#IsLogin">取得登入狀態</a></li>
        <li><a href="#GetChannelID">取得平台ID</a></li>
        <li><a href="#ShowFloatingButton">顯示懸浮按鈕</a></li>
        <li><a href="#HideFloatingButton">隱藏懸浮按鈕</a></li>
        <li><a href="#Logout">登出</a></li>
    </ul>
</div>

<div class="right-side">
    <section id="section1">
        <h1>Swift 3 用戶系統</h1>
        <p>透過 SgSDK 調用各個函式，例如創帳號，登入等等。某些函式調用後需要接收回傳值。客戶端再依據收到的回傳值進行對應處理。</p>
    </section>

    <section id="Signup">
        <h1>創帳號</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">函式</span>
                <p><pre>Signup() -> Void</pre></p>

                <span class="badge badge-ttl">説明</span>
                <p>調用註冊頁面，註冊成功等同登入然後關閉WebView。</p>

                <span class="badge badge-ttl">回傳</span>
                <ul>
                    <li>請參看【<a href="/swift-init#listener">回調監聽</a>】的設定，以及回傳的代碼與定義<a href="/webapi-init#section5">對照表</a>。</li>
                    <li>回調監聽的 Data 參數：無。</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">WebView 頁面</span>
                <a href="<%= "assets/img/" + lang + "/pic08.png" %>" data-toggle="lightbox">
                    <img src="<%= "assets/img/" + lang + "/pic08.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="Login">
        <h1>登入</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">函式</span>
                <p><pre>Login() -> Void</pre></p>

                <span class="badge badge-ttl">説明</span>
                <p>調用登入頁面，登入成功後關閉WebView。</p>

                <span class="badge badge-ttl">回傳</span>
                <ul>
                    <li>請參看【<a href="/swift-init#listener">回調監聽</a>】的設定，以及回傳的代碼與定義<a href="/webapi-init#section5">對照表</a>。</li>
                    <li>回調監聽的 Data 參數：無。</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">WebView 頁面</span>
                <a href="<%= "assets/img/" + lang + "/pic07.png" %>" data-toggle="lightbox">
                    <img src="<%= "assets/img/" + lang + "/pic07.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="GetOpenID">
        <h1>取得用戶 Open ID</h1>

        <span class="badge badge-ttl">函式</span>
        <p><pre>GetOpenID() -> Int?</pre></p>

        <span class="badge badge-ttl">説明</span>
        <p>取得用戶唯一識別 ID (SG ID)，以此 ID 登入遊戲伺服器，登入後才可取得。</p>

        <span class="badge badge-ttl">範例</span>
        <p>
            <% include ../code/swift-getOpenId.html %>
        </p>

        <span class="badge badge-ttl">回傳</span>
        <p>成功： open id，失敗： nil。</p>
        <br/>
    </section>

    <section id="GetSessionID">
        <h1>取得 Session ID</h1>

        <span class="badge badge-ttl">函式</span>
        <p><pre>GetSessionID() -> String?</pre></p>

        <span class="badge badge-ttl">説明</span>
        <p>取得Session ID，登入後才可取得。</p>

        <span class="badge badge-ttl">範例</span>
        <p>
            <% include ../code/swift-getSessionId.html %>
        </p>

        <span class="badge badge-ttl">回傳</span>
        <p>成功： session id，失敗： nil。</p>
        <br/>
    </section>

    <section id="GetToken">
        <h1>取得 Token</h1>

        <span class="badge badge-ttl">函式</span>
        <p><pre>GetToken() -> String?</pre></p>

        <span class="badge badge-ttl">説明</span>
        <p>取得Token，登入後才可取得。</p>

        <span class="badge badge-ttl">範例</span>
        <p>
            <% include ../code/swift-getToken.html %>
        </p>

        <span class="badge badge-ttl">回傳</span>
        <p>成功： token，失敗： nil。</p>
    </section>

    <section id="ForgotPassword">
        <h1>查詢密碼</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">函式</span>
                <p><pre>ForgotPassword() -> Void</pre></p>

                <span class="badge badge-ttl">説明</span>
                <p>調用找回密碼頁面進行重設密碼。</p>

                <span class="badge badge-ttl">回傳</span>
                <ul>
                    <li>請參看【<a href="/swift-init#listener">回調監聽</a>】的設定，以及回傳的代碼與定義<a href="/webapi-init#section5">對照表</a>。</li>
                    <li>回調監聽的 Data 參數：無。</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">WebView 頁面</span>
                <a href="<%= "assets/img/" + lang + "/pic09.png" %>" data-toggle="lightbox">
                    <img src="<%= "assets/img/" + lang + "/pic09.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="ChangePassword">
        <h1>變更密碼</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">函式</span>
                <p><pre>ChangePassword() -> Void</pre></p>

                <span class="badge badge-ttl">説明</span>
                <p>調用變更密碼頁面。</p>

                <span class="badge badge-ttl">回傳</span>
                <ul>
                    <li>請參看【<a href="/swift-init#listener">回調監聽</a>】的設定，以及回傳的代碼與定義<a href="/webapi-init#section5">對照表</a>。</li>
                    <li>回調監聽的 Data 參數：無。</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">WebView 頁面</span>
                <a href="<%= "assets/img/" + lang + "/pic10.png" %>" data-toggle="lightbox">
                    <img src="<%= "assets/img/" + lang + "/pic10.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="ParentalLock">
        <h1>家長安全操作</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">函式</span>
                <p><pre>ParentalLock() -> Void</pre></p>

                <span class="badge badge-ttl">説明</span>
                <p>在呼叫帳號設置前需要先呼叫家長安全操作頁面以防孩童誤擊重要功能。</p>

                <span class="badge badge-ttl">回傳</span>
                <p>無。</p>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">WebView 頁面</span>
                <a href="<%= "assets/img/" + lang + "/pic11.png" %>" data-toggle="lightbox">
                    <img src="<%= "assets/img/" + lang + "/pic11.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="MyKid">
        <h1>設置孩童資料</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">函式</span>
                <p><pre>MyKid() -> Void</pre></p>

                <span class="badge badge-ttl">説明</span>
                <p>調用新增孩童資料頁面。</p>

                <span class="badge badge-ttl">回傳</span>
                <ul>
                    <li>請參看【<a href="/swift-init#listener">回調監聽</a>】的設定，以及回傳的代碼與定義<a href="/webapi-init#section5">對照表</a>。</li>
                    <li>回調監聽的 Data 參數：無。</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">WebView 頁面</span>
                <a href="<%= "assets/img/" + lang + "/pic12.png" %>" data-toggle="lightbox">
                    <img src="<%= "assets/img/" + lang + "/pic12.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="MyAccount">
        <h1>帳號資訊</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">函式</span>
                <p><pre>MyAccount() -> Void</pre></p>

                <span class="badge badge-ttl">説明</span>
                <p>調用帳號總覽頁面，以瀏覽孩童遊戲紀錄。</p>

                <span class="badge badge-ttl">回傳</span>
                <p>無。</p>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">WebView 頁面</span>
                <a href="<%= "assets/img/" + lang + "/pic13.png" %>" data-toggle="lightbox">
                    <img src="<%= "assets/img/" + lang + "/pic13.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="VerifySession">
        <h1>Session ID 登入驗證</h1>
        <span class="badge badge-ttl">函式</span>
        <p><pre>VerifySession(appId: String, session: String, uid: String, signature: String)</pre></p>

        <span class="badge badge-ttl">説明</span>
        <p>使用 SessionID 取得登入帳號資訊。</p>

        <span class="badge badge-ttl">參數</span>
        <p>
        <table class="table table-striped">
            <col width="15%">
            <col width="85%">
            <tr>
                <th>參數名稱</th>
                <th>描述</th>
            </tr>
            <tr>
                <td>appId</td>
                <td>Game key</td>
            </tr>
            <tr>
                <td>session</td>
                <td>Login後可用<a href="#GetSessionID">GetSessionID()</a>取得。</td>
            </tr>
            <tr>
                <td>uid</td>
                <td>Login後可用<a href="#GetOpenID">GetOpenID()</a>取得。</td>
            </tr>
            <tr>
                <td>signature</td>
                <td>server返回的簽名。</td>
            </tr>
        </table>
        </p>
        <span class="badge badge-ttl">回傳</span>
        <p>
        <ul>
            <li>請參看【<a href="/swift-init#listener">回調監聽</a>】的設定，以及回傳的代碼與定義<a href="/webapi-init#section5">對照表</a>。</li>
            <li>回調監聽的 Data 參數：<a href="#SGMember">SGMember</a>。</li>
        </ul>
        <h3>SGMember 結構</h3>
        <table id="SGMember" class="table table-striped">
            <col width="15%">
            <col width="85%">
            <tr>
                <th>參數名稱</th>
                <th>描述</th>
            </tr>
            <tr>
                <td>Code</td>
                <td>狀態代碼</td>
            </tr>
            <tr>
                <td>Msg</td>
                <td>狀態描述</td>
            </tr>
            <tr>
                <td>Account</td>
                <td>帳號</td>
            </tr>
            <tr>
                <td>OpenID</td>
                <td>Open ID</td>
            </tr>
            <tr>
                <td>CreateTime</td>
                <td>創帳號時間</td>
            </tr>
            <tr>
                <td>LoginTime</td>
                <td>登入時間</td>
            </tr>
            <tr>
                <td>Language</td>
                <td>語言</td>
            </tr>
            <tr>
                <td>Channel</td>
                <td>平台</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>創帳號時填的帳號</td>
            </tr>
            <tr>
                <td>EMail</td>
                <td>創帳號時填的帳號</td>
            </tr>
            <tr>
                <td>SessionID</td>
                <td>Session ID</td>
            </tr>
            <tr>
                <td><a href="#Children">Children</a></td>
                <td>小孩資訊列表 創幾個小孩就有幾筆資料</td>
            </tr>
        </table>

        <h3>SGChild 結構</h3>
        <table id="Children" class="table table-striped">
            <col width="15%">
            <col width="85%">
            <tr>
                <th>參數名稱</th>
                <th>描述</th>
            </tr>
            <tr>
                <td>Name</td>
                <td>姓名</td>
            </tr>
            <tr>
                <td>Sex</td>
                <td>性別</td>
            </tr>
            <tr>
                <td>Face</td>
                <td>角色頭圖</td>
            </tr>
            <tr>
                <td>Birthday</td>
                <td>生日</td>
            </tr>
        </table>
        </p>
    </section>

    <section id="LoginByToken">
        <h1>Token 快速登入</h1>
        <span class="badge badge-ttl">函式</span>
        <p><pre>LoginByToken(token: String) -> Void</pre></p>

        <span class="badge badge-ttl">説明</span>
        <p>使用 Token 快速登入。</p>

        <span class="badge badge-ttl">參數</span>
        <p>token, Login 後可用 <a href="#GetToken">GetToken()</a> 取得。</p>
        <span class="badge badge-ttl">回傳</span>
        <ul>
            <li>請參看【<a href="/swift-init#listener">回調監聽</a>】的設定，以及回傳的代碼與定義<a href="/webapi-init#section5">對照表</a>。</li>
            <li>回調監聽的 Data 參數：<a href="#SGMember">SGMember</a>。</li>
        </ul>
    </section>

    <section id="IsLogin">
        <h1>取得登入狀態</h1>
        <span class="badge badge-ttl">函式</span>
        <p><pre>IsLogin() -> Bool</pre></p>

        <span class="badge badge-ttl">説明</span>
        <p>判斷是否為登入狀態。</p>

        <span class="badge badge-ttl">回傳</span>
        <p>登入：True ， 未登入：False。</p>
    </section>

    <section id="GetChannelID">
        <h1>取得平台ID</h1>
        <span class="badge badge-ttl">函式</span>
        <p><pre>GetChannelID() -> String</pre></p>

        <span class="badge badge-ttl">説明</span>
        <p>取得平台名稱。</p>

        <span class="badge badge-ttl">回傳</span>
        <p>平台名稱，例如：appstore。</p>
    </section>

    <section id="ShowFloatingButton">
        <h1>顯示懸浮按鈕</h1>
        <span class="badge badge-ttl">函式</span>
        <p><pre>ShowFloatingButton(place: eFloatingButtonPlace) -> Void</pre></p>

        <span class="badge badge-ttl">説明</span>
        <p>顯示懸浮按鈕，登入後自動顯示。</p>

        <span class="badge badge-ttl">參數</span>
        <p>
        <table class="table table-striped">
            <col width="30%">
            <col width="70%">
            <tr>
                <th>eFloatingButtonPlace case</th>
                <th>狀態描述</th>
            </tr>
            <tr>
                <td>LeftTop</td>
                <td>左上角</td>
            </tr>
            <tr>
                <td>Top</td>
                <td>上方</td>
            </tr>
            <tr>
                <td>RightTop</td>
                <td>右上角</td>
            </tr>
            <tr>
                <td>Left</td>
                <td>左方</td>
            </tr>
            <tr>
                <td>Right</td>
                <td>右方</td>
            </tr>
            <tr>
                <td>LeftBottom</td>
                <td>左下角</td>
            </tr>
            <tr>
                <td>Bottom</td>
                <td>下方</td>
            </tr>
            <tr>
                <td>RightBottom</td>
                <td>右下角</td>
            </tr>
        </table>
        </p>

        <span class="badge badge-ttl">回傳</span>
        <p>無。</p>
    </section>

    <section id="HideFloatingButton">
        <h1>隱藏懸浮按鈕</h1>
        <span class="badge badge-ttl">函式</span>
        <p><pre>HideFloatingButton() -> Void</pre></p>

        <span class="badge badge-ttl">説明</span>
        <p>隱藏懸浮按鈕。</p>

        <span class="badge badge-ttl">回傳</span>
        <p>無。</p>
    </section>

    <section id="Logout">
        <h1>登出</h1>
        <span class="badge badge-ttl">函式</span>
        <p><pre>Logout() -> Void</pre></p>

        <span class="badge badge-ttl">説明</span>
        <p>帳號登出。</p>

        <span class="badge badge-ttl">回傳</span>
        <ul>
            <li>請參看【<a href="/swift-init#listener">回調監聽</a>】的設定，以及回傳的代碼與定義<a href="/webapi-init#section5">對照表</a>。</li>
            <li>回調監聽的 Data 參數：無。</li>
        </ul>
    </section>
</div>