<div class="left-side" id="myScrollspy">

    <ul class="nav nav-pills">
        <li><a href="#summary">輔助系統</a></li>
        <li><a href="#init">初始化</a></li>
    </ul>

</div>

<div class="right-side">

    <section id="summary">
        <h1>輔助系統</h1>
        <p>SGUtil For Unity 的輔助系統提供了下列方法供應用使用。</p>
    </section>

    <section id="init">
        <h1>初始化</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">方法</span>
                <p><pre>void Init(string gameServerClassName, bool autoDeliverProduct)</pre></p>

        		<span class="badge badge-ttl">參數</span>
        		<ul>
		            <li>gameServerClassName - 遊服介面對象，需要CP根據自己的業務來實現。關於遊服介面的細節請參看
					<a href=<%= "assets/html/" + lang + "/android/jdoc/sgutil/com/sg/util/SGGameServerInterface.html"%>> SGGameServerInterface </a>。</li>
                    <li>autoDeliverProduct - 指定在用戶購買某商品（道具）並且購買的 UI 操作成功後，是否自動查詢訂單的狀態，並在支付成功的情況下把商品（道具）標記爲
		已發貨。如果這個參數爲 false，那麼您需要在購買 UI 操作成功後通過用戶的後續操作或其他手段在合適的時機發起查詢。</li>
				</ul>

                <span class="badge badge-ttl">說明</span>
                <ul>
                    <li>初始化 SGUtil For Unity。</li>
                    <li>初始化結果通過回調 OnInit 來通知給調用者。</li>
                </ul>

            </div>
            <div class="col-sm-3">
                <!--<span class="badge badge-ttl">WebView 頁面</span>
                <a href="<%= " assets/img/" + lang + "/pic07.png" %>" data-toggle="lightbox">
                <img src="<%= " assets/img/" + lang + "/pic07.png" %>" class="img-responsive"/>
                </a>-->
            </div>
        </div>
    </section>

    <section id="InitCallback">
        <h1>初始化結果回調</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">方法</span>
                <p><pre>void OnInit(SGUStateChangeReason reason)</pre></p>

                <span class="badge badge-ttl">參數</span>
                <ul>
                    <li>reason - STATE_CHANGE_REASON_OP_SUCCESS（操作成功）、STATE_CHANGE_REASON_OP_FAILURE（操作失敗）之一</li>
                </ul>

                <span class="badge badge-ttl">說明</span>
                <ul>
                    <li>如果初始化失敗，則後續一切操作都不能進行，也不能再次嘗試初始化。</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <!--<span class="badge badge-ttl">WebView 頁面</span>
                <a href="<%= " assets/img/" + lang + "/pic07.png" %>" data-toggle="lightbox">
                <img src="<%= " assets/img/" + lang + "/pic07.png" %>" class="img-responsive"/>
                </a>-->
            </div>
        </div>
    </section>

</div>
