<div class="left-side" id="myScrollspy">

    <ul class="nav nav-pills">
        <li><a href="#section1">Web API 使用指南</a></li>
        <li><a href="#section2">調用 API 頁面</a></li>
        <li><a href="#section3">API 初始化</a></li>
        <li><a href="#section4">詳細說明</a></li>
        <li><a href="#section5">回傳值定義</a></li>
    </ul>

</div>

<div class="right-side">
    <section id="section1">
        <h1>Web API 使用指南</h1>
        <h3>開發者在串接 SG Game API 時，可透過呼叫 Web API 的方式來完成各種功能。通過本文的介紹可以了解客戶端接入的整個流程。在接入之前請認真閱讀本文檔，以減少接入過程中遇到的問題。</h3>
    </section>

    <section id="section2">
        <h1> 調用 API 頁面 </h1>
        <h3>開發者可透過呼叫網址
            <a target="_blank" href="http://gameapi.smartgamesltd.com/">http://gameapi.smartgamesltd.com/</a>調用 SG Game API 各個接口。
        </h3>
    </section>

    <section id="section3">
        <h1>API 初始化</h1>

        <div class="row">
            <span class="badge badge-ttl">API</span>
            <p><code>init</code></p>

            <span class="badge badge-ttl">HTTP Method</span>
            <p><code>GET</code></p>

            <span class="badge badge-ttl">説明</span>
            <p>調用 SG Game API 之前需要先調用 init 接口，進行初始化。</p>

            <span class="badge badge-ttl">範例</span>
            <pre>http://gameapi.smartgamesltd.com/init?gamekey=d7e73390-d7fd-11e6-9074-21c247f06802&appsecret=d7d7c810-d7ee-11e6-9e86-db4f79aeee86&channel=googleplay</pre>

            <span class="badge badge-ttl">參數</span>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        參數名稱
                    </th>
                    <th>
                        參數說明
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        gamekey
                    </td>
                    <td>
                        可以在 <a target="_blank" href="http://dashboard.smartgamesltd.com">SG Developer</a> 申請開通遊戲後取。
                    </td>
                </tr>
                <tr class>
                    <td>
                        appsecret
                    </td>
                    <td>
                        可以在 <a target="_blank" href="http://dashboard.smartgamesltd.com">SG Developer</a> 申請開通遊戲後取。
                    </td>
                </tr>
                <tr>
                    <td>
                        channel
                    </td>
                    <td>
                        發佈遊戲的 <a target="_blank" href="/channel">渠道代碼</a> 。
                    </td>
                </tr>

                </tbody>
            </table>

            <span class="badge badge-ttl">回傳</span>
            <ul>
                <li>返回值以JSON格式回傳，例如<code>{"code": 1, "msg": "ok"}</code>。</li>
                <li><a href="#section5"> 查看回傳值定義 </a></li>
            </ul>
        </div>
    </section>

    <section id="section4">
        <h1> 詳細說明 </h1>
        <h3>1. 取得網頁回傳值</h3>
        <ul>
        <li>在所有網頁執行完動作之後，都可透過解析該網頁的 Javascript 函式 <code>GetResult()</code> 來取得回傳結果。該函式回傳 JSON 字串，例如<code>{"code": 1, "msg": "ok"}</code>。</li>
        <li>開發者可在 <a target="_blank" href="http://dashboard.smartgamesltd.com/my-game">SG Developer</a> 取得接入參數。</li>
        </ul>
        <div class="well well-sm">
            <img src=<%= "assets/img/" + lang + "/pic06.png"%> class="img-responsive"/>
        </div>
        <br>

        <h3>2. Cookie設定</h3>
        <ul>
            <li>以 Http Get 調用 init 之後需保存 Header 的 Set-Cookie 參數，之後所有調用的接口都必須加上此參數。</li>
            <li><code>webViewCookie.put("Cookie", response.headers.get("Set-Cookie"));</code></li>
        </ul>
    </section>

    <section id="section5">
        <h1>回傳值定義</h1>
        <p>所有接口回傳值都包含<code>code, msg</code>。</p>

        <table class="table"> <!--Gem Start-->
            <thead>
            <tr>
                <th>
                    api
                </th>
                <th>
                    code
                </th>
                <th>
                    msg
                </th>
            </tr>
            </thead>
            <tbody>
            <% for (var i = 0; i < ResultCode.length; i++) { %>
                <tr class=<%=ResultCode[i].class%>>
                    <td>
                        <%=ResultCode[i].api%>
                    </td>
                    <td>
                        <%=ResultCode[i].code%>
                    </td>
                    <td>
                        <%=ResultCode[i].msg%>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </section>
</div>