<div class="left-side" id="myScrollspy">

    <ul class="nav nav-pills">
        <li><a href="#section1">Web API 用戶系統接口</a></li>
        <li><a href="#section2">創帳號</a></li>
        <li><a href="#section3">登入</a></li>
        <li><a href="#section4">查詢密碼</a></li>
        <li><a href="#section5">變更密碼</a></li>
        <li><a href="#section6">家長安全操作</a></li>
        <li><a href="#section7">設置孩童資料</a></li>
        <li><a href="#section8">設定正在進行遊戲的孩童</a></li>
        <li><a href="#section9">帳號資訊</a></li>
        <li><a href="#section10">取得用戶 Open ID</a></li>
        <li><a href="#section11">Token 快速登入</a></li>
        <li><a href="#section12">Session ID 登入驗證</a></li>
        <li><a href="#section13">登出</a></li>
    </ul>

</div>

<div class="right-side">
    <section id="section1">
        <h1>Web API 用戶系統接口</h1>
        <p>用戶系統接口包含創帳號、登入、查詢密碼、家長安全鎖、設置孩童資料、帳號總覽、登出等跟 SG 會員帳號相關等功能。</p>
    </section>

    <section id="section2">
        <h1>創帳號</h1>

        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">API</span>
                <pre> <span class="label label-warning">GET</span> /signup</pre>

                <span class="badge badge-ttl">説明</span>
                <p>調用創帳號頁面創建 SG 會員帳號。帳號創建成功後，自動登入。</p>

                <span class="badge badge-ttl">範例</span>
                <pre>http://gameapi.smartgamesltd.com/signup</pre>

                <span class="badge badge-ttl">回傳</span>
                <ul>
                    <li>調用回傳頁面的 JavaScript 函式 <code>GetResult()</code> 來取得回傳結果，該函式回傳 JSON 字串。</li>
                    <li>例如<code>{"Code": 301, "Message": "ok"}</code>。</li>
                    <li>完整 Code 定義，<a href="/webapi-init#section5">請參看對照表</a>。</li>
                    <li>回傳 <a href="/webapi-init#SGMember">SGMember</a> 結構。</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">WebView 頁面</span>
                <a href="<%= "assets/img/" + lang + "/pic08.png" %>" data-toggle="lightbox">
                    <img src="<%= "assets/img/" + lang + "/pic08.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="section3">
        <h1>登入</h1>

        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">API</span>
                <pre> <span class="label label-warning">GET</span> /login</pre>

                <span class="badge badge-ttl">説明</span>
                <p>調用登入頁面進行登入。</p>

                <span class="badge badge-ttl">範例</span>
                <pre>http://gameapi.smartgamesltd.com/login</pre>

                <span class="badge badge-ttl">回傳</span>
                <ul>
                    <li>調用回傳頁面的 JavaScript 函式 <code>GetResult()</code> 來取得回傳結果，該函式回傳 JSON 字串。</li>
                    <li>例如<code>{"Code": 201, "Message": "ok"}</code>。</li>
                    <li>完整 Code 定義，<a href="/webapi-init#section5">請參看對照表</a>。</li>
                    <li>回傳 <a href="/webapi-init#SGMember">SGMember</a> 結構。</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">WebView 頁面</span>
                <a href="<%= "assets/img/" + lang + "/pic07.png" %>" data-toggle="lightbox">
                    <img src="<%= "assets/img/" + lang + "/pic07.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="section4">
        <h1>查詢密碼</h1>

        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">API</span>
                <pre> <span class="label label-warning">GET</span> /forgot-password</pre>

                <span class="badge badge-ttl">説明</span>
                <p>調用找回密碼頁面進行重設密碼。</p>

                <span class="badge badge-ttl">範例</span>
                <pre>http://gameapi.smartgamesltd.com/forgot-password</pre>

                <span class="badge badge-ttl">回傳</span>
                <ul>
                    <li>調用回傳頁面的 JavaScript 函式 <code>GetResult()</code> 來取得回傳結果，該函式回傳 JSON 字串。</li>
                    <li>例如<code>{"Code": 501, "Message": "ok"}</code>。</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">WebView 頁面</span>
                <a href="<%= "assets/img/" + lang + "/pic09.png" %>" data-toggle="lightbox">
                    <img src="<%= "assets/img/" + lang + "/pic09.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="section5">
        <h1>變更密碼</h1>

        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">API</span>
                <pre> <span class="label label-warning">GET</span> /change-password</pre>

                <span class="badge badge-ttl">説明</span>
                <p>調用變更密碼頁面。</p>

                <span class="badge badge-ttl">範例</span>
                <pre>http://gameapi.smartgamesltd.com/change-password</pre>

                <span class="badge badge-ttl">回傳</span>
                <ul>
                    <li>調用回傳頁面的 JavaScript 函式 <code>GetResult()</code> 來取得回傳結果，該函式回傳 JSON 字串。</li>
                    <li>例如<code>{"Code": 601, "Message": "ok"}</code>。</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">WebView 頁面</span>
                <a href="<%= "assets/img/" + lang + "/pic10.png" %>" data-toggle="lightbox">
                    <img src="<%= "assets/img/" + lang + "/pic10.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="section6">
        <h1>家長安全鎖</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">API</span>
                <pre> <span class="label label-warning">GET</span> /parental-lock</pre>

                <span class="badge badge-ttl">説明</span>
                <p>在呼叫帳號設置前需要先呼叫家長安全鎖，以防孩童誤擊重要功能。</p>

                <span class="badge badge-ttl">範例</span>
                <pre>http://gameapi.smartgamesltd.com/parental-lock</pre>

                <span class="badge badge-ttl">回傳</span>
                <p>正確輸入安全碼後會自動轉跳至 my-account 頁面。若尚未建立任何孩童資料則會轉跳至 my-kid 頁面。</p>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">WebView 頁面</span>
                <a href="<%= "assets/img/" + lang + "/pic11.png" %>" data-toggle="lightbox">
                    <img src="<%= "assets/img/" + lang + "/pic11.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="section7">
        <h1>設置孩童資料</h1>

        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">API</span>
                <pre> <span class="label label-warning">GET</span> /my-kid</pre>

                <span class="badge badge-ttl">説明</span>
                <p>調用新增孩童資料頁面。</p>

                <span class="badge badge-ttl">範例</span>
                <pre>http://gameapi.smartgamesltd.com/my-kid</pre>

                <span class="badge badge-ttl">回傳</span>
                <ul>
                    <li>調用回傳頁面的 JavaScript 函式 <code>GetResult()</code> 來取得回傳結果，該函式回傳 JSON 字串。</li>
                    <li>例如<code>{"Code": 801, "Message": "ok"}</code>。</li>
                    <li>完整 Code 定義，<a href="/webapi-init#section5">請參看對照表</a>。</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">WebView 頁面</span>
                <a href="<%= "assets/img/" + lang + "/pic12.png" %>" data-toggle="lightbox">
                    <img src="<%= "assets/img/" + lang + "/pic12.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="section8">
        <h1>設定正在進行遊戲的孩童</h1>

        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">API</span>
                <pre> <span class="label label-warning">GET</span> /select-kid</pre>

                <span class="badge badge-ttl">説明</span>
                <p>調用孩童列表頁面，家長可以標記一名正在進行遊戲的孩童。</p>

                <span class="badge badge-ttl">範例</span>
                <pre>http://gameapi.smartgamesltd.com/select-kid</pre>

                <span class="badge badge-ttl">回傳</span>
                <ul>
                    <li>調用回傳頁面的 JavaScript 函式 <code>GetResult()</code> 來取得回傳結果，該函式回傳 JSON 字串。</li>
                    <li>例如<code>{"Code": 1501, "Message": "ok"}</code>。</li>
                    <li>完整 Code 定義，<a href="/webapi-init#section5">請參看對照表</a>。</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">WebView 頁面</span>
                <a href="<%= "assets/img/" + lang + "/pic14.png" %>" data-toggle="lightbox">
                    <img src="<%= "assets/img/" + lang + "/pic14.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="section9">
        <h1>帳號資訊</h1>

        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">API</span>
                <pre> <span class="label label-warning">GET</span> /my-account</pre>

                <span class="badge badge-ttl">説明</span>
                <p>調用帳號總覽頁面，以瀏覽帳號與孩童遊戲紀錄。</p>

                <span class="badge badge-ttl">範例</span>
                <pre>http://gameapi.smartgamesltd.com/my-account</pre>

                <span class="badge badge-ttl">回傳</span>
                <p>返回帳號資訊頁面。</p>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">WebView 頁面</span>
                <a href="<%= "assets/img/" + lang + "/pic13.png" %>" data-toggle="lightbox">
                    <img src="<%= "assets/img/" + lang + "/pic13.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="section10">
        <h1>取得用戶 Open ID</h1>

        <div class="row">
            <span class="badge badge-ttl">API</span>
            <pre> <span class="label label-warning">GET</span> /openid</pre>

            <span class="badge badge-ttl">説明</span>
            <p>登入成功後才可調用，取得用戶 ID (SG ID)。可以此 ID 登入遊戲伺服器。</p>

            <span class="badge badge-ttl">範例</span>
            <pre>http://gameapi.smartgamesltd.com/openid</pre>

            <span class="badge badge-ttl">回傳</span>
            <p>取得用戶 Open ID 返回值以 JSON 格式回傳，例如<code>{"OpenID": 100001}</code>。</p>
        </div>
    </section>

    <section id="section11">
        <h1>Token 快速登入</h1>

        <div class="row">
            <span class="badge badge-ttl">API</span>
            <pre> <span class="label label-warning">GET</span> <span class="label label-success">POST</span> /loginbytoken</pre>

            <span class="badge badge-ttl">説明</span>
            <p>使用 Token 快速登入，同時取得帳號資訊。</p>

            <span class="badge badge-ttl">範例</span>
            <pre>http://gameapi.smartgamesltd.com/loginbytoken?token=my_token</pre>

            <span class="badge badge-ttl">參數</span>
            <p>token：登入成功後取得。</p>

            <span class="badge badge-ttl">回傳</span>
            <ul>
                <li>回傳 <a href="/webapi-init#SGMember">SGMember</a> 格式JSON 字串。Code 1001 為登入成功，其它則為登入失敗。</li>
            </ul>
        </div>
    </section>

    <section id="section12">
        <h1>Session ID 登入驗證</h1>

        <div class="row">
            <span class="badge badge-ttl">API</span>
            <pre> <span class="label label-warning">GET</span> <span class="label label-success">POST</span> /verifysession</pre>

            <span class="badge badge-ttl">説明</span>
            <p>以 SessionID 取得登入帳號資訊。串接其他渠道二次登入驗證使用。</p>

            <span class="badge badge-ttl">範例</span>
            <pre>http://gameapi.smartgamesltd.com/verifysession?gamekey=my_gamekey&sessionid=my_sessionid&openid=my_openid&sign=my_sign</pre>

            <span class="badge badge-ttl">參數</span>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>參數名稱</th>
                    <th>參數說明</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>gamekey</td>
                    <td>開發者申請開通遊戲後取得的 gamekey。</td>
                </tr>
                <tr>
                    <td>openid</td>
                    <td>登入成功後取得的 openid。</td>
                </tr>
                <tr class>
                    <td>sessionid</td>
                    <td>登入成功後取得的 sessionID。</td>
                </tr>
                <tr>
                    <td>sign</td>
                    <td>以參數 gamekey, openid, sessionid 製作簽名字串。詳見 <a href="/server-sign#section2">簽名演算法</a>。</td>
                </tr>

                </tbody>
            </table>

            <span class="badge badge-ttl">回傳</span>
            <ul>
                <li>完整 Code 定義，<a href="/webapi-init#section5">請參看對照表</a>。</li>
                <li>回傳 <a href="/webapi-init#SGMember">SGMember</a> 結構。</li>
            </ul>
        </div>
    </section>

    <section id="section13">
        <h1>登出</h1>

        <div class="row">
            <span class="badge badge-ttl">API</span>
            <pre> <span class="label label-warning">GET</span> /logout</pre>

            <span class="badge badge-ttl">説明</span>
            <p>帳號登出</p>

            <span class="badge badge-ttl">範例</span>
            <pre>http://gameapi.smartgamesltd.com/logout</pre>

            <span class="badge badge-ttl">回傳</span>
            <ul>
                <li>調用回傳頁面的 JavaScript 函式 <code>GetResult()</code> 來取得回傳結果，該函式回傳 JSON 字串。</li>
                <li>例如<code>{"Code": 1601, "Message": "ok"}</code>。</li>
            </ul>
        </div>
    </section>
</div>