<nav class="col-sm-3" id="myScrollspy">
    <ul class="nav nav-pills nav-stacked well" data-spy="affix" data-offset-top="600" style="background-color: white">
        <li><a href="#section1"><h4> <%=texts.p1s1%> </h4></a></li>
        <li><a href="#section2"><h4> <%=texts.p1s2%> </h4></a></li>
        <li><a href="#section3"><h4> <%=texts.p1s3%> </h4></a></li>
        <li><a href="#section4"><h4> <%=texts.p1s4%> </h4></a></li>
        <li><a href="#section5"><h4> <%=texts.p1s5%> </h4></a></li>
    </ul>
</nav>

<div class="col-sm-9">
    <div id="section1">
        <h1> <%=texts.p1s1%> </h1>
        <hr>
    </div>
    <div id="section2">
        <h1> <%=texts.p1s2%> </h1>
        <hr>
        <h4> <%=texts.p1h21%> <a target="_blank" href="http://sgdashboard.nicemarket.com.tw/signup">http://sgdashboard.nicemarket.com.tw/signup</a> <%=texts.p1h22%> </h4>
        <img src=<%= "assets/img/" + lang + "/pic01.png"%> class="img-responsive"/>
    </div>
    <div id="section3">
        <h1> <%=texts.p1s3%> </h1>
        <hr>
        <h4> <%=texts.p1h3%> </h4>
    </div>
    <div id="section4">
        <h1> <%=texts.p1s4%> </h1>
        <hr>
        <h4> <%=texts.p1h41%> <a target="_blank" href="http://sgdashboard.nicemarket.com.tw/my-game">http://sgdashboard.nicemarket.com.tw/my-game</a> <%=texts.p1h42%> </h4>
        <div class="well well-sm" style="width: 545px;">
            <img src=<%= "assets/img/" + lang + "/pic02.png"%> class="img-responsive"/>
        </div>
    </div>
    <div id="section5">
        <h1> <%=texts.p1s5%> </h1>
        <hr>
        <h4> <%=texts.p1h5%> </h4>
    </div>
</div>