<div class="col-sm-9">
    <div id="section1">
        <h1><%=texts.p6s1%></h1>
        <hr>
        <h4> <%=texts.p6h11%> <a target="_blank" href="http://dashboard.smartgamesltd.com/my-game">http://dashboard.smartgamesltd.com/my-game</a> <%=texts.p6h12%> </h4>
        <img src=<%= "assets/img/" + lang + "/pic03.png"%> class="img-responsive"/>
    </div>
    <div id="section2">
        <h1><%=texts.p6s2%></h1>
        <hr>
        <h4><%=texts.p6h2%></h4>
        <img src=<%= "assets/img/" + lang + "/pic04.png"%> class="img-responsive"/>
    </div>
</div>