<div class="col-sm-9">
    <div id="section1">
        <h1><%=texts.Channel%></h1>
        <% if (locals.Channels != null && Channels.length > 0) { %>
        <table class="table"> <!--Gem Start-->
            <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    SDK
                </th>
                <th>
                    Key
                </th>
            </tr>
            </thead>
            <tbody>
                <% for (var i = 0; i < Channels.length; i++) { %>
                    <% if (i % 2 == 1) { %>
                    <tr class="success">
                        <% } else { %>
                    <tr>
                    <% } %>

                    <td>
                        <%= i+1 %>
                    </td>
                    <td>
                        <%= Channels[i].name %>
                    </td>
                    <td>
                        <%= Channels[i].sdk %>
                    </td>
                    <td>
                        <%= Channels[i].key %>
                    </td>
                <% } %>
            </tbody>
        </table>
    <% } %>
    </div>
</div>