<nav class="col-sm-3" id="myScrollspy">
    <ul class="nav nav-pills nav-stacked well" data-spy="affix" data-offset-top="600" style="background-color: white">
        <li><a href="#section1"><h4> <%=texts.jp2s1%> </h4></a></li>
        <li><a href="#section2"><h4> <%=texts.jp2s2%> </h4></a></li>
        <li><a href="#section3"><h4> <%=texts.jp2s3%> </h4></a></li>
    </ul>
</nav>

<div class="col-sm-9">
    <div id="section1">
        <h1><%=texts.jp2s1%></h1>
        <hr>
        <h4><%=texts.p2h1%></h4>
    </div>
    <br>
    <div id="section2">
        <h1><%=texts.jp2s2%></h1>
        <hr>
        <h3>1.minSdkVersion : </h3>
        <h4><%=texts.jp2h21%></h4>
        <img src=<%= "assets/img/" + lang + "/pic05.png"%> class="img-responsive"/>
        <h3>2.uses-permission : </h3>
        <h4><%=texts.jp2h22%></h4>

        <%- include code/java-user-permission.html -%>
    </div>
    <br>
    <div id="section3">
        <h1><%=texts.jp2s3%></h1>
        <hr>
        <h4></h4>
        <h4><%=texts.ApiName%><code>init</code><br/>
            <%=texts.ApiExplain%><%=texts.jp2h31%><%=texts.p2h32%><br/>
            <%=texts.Parameter%>gamekey，appsecret，privatekey<br/>
            <%=texts.Example%><%=texts.jp2h33%>
        </h4>

        <%- include code/java-init.html -%>
        <br>
        <h4>
        <%=texts.Example%><%=texts.jp2h34%>
        <br>
        <br>
        <%- include code/java-receive-code.html -%>
        <%=texts.ReturnCode + texts.Result%><br/>
        </h4>
    </div>
</div>