<div class="left-side" id="myScrollspy">

    <ul class="nav nav-pills">
        <li><a href="#summary">支付系統</a></li>
        <li><a href="#environment">IAP 開發設定</a></li>
        <li><a href="#pay">付款與上傳訂單</a></li>
        <li><a href="#checkOrder">查詢訂單</a></li>
        <li><a href="#restoreOrder">恢復購買</a></li>
    </ul>

</div>

<div class="right-side">

    <div id="summary">
        <h1>支付系統</h1>
        <hr />
        <p>購買遊戲內購商品（IAP）成功後，必須上傳商品訂單，用作後台統計。</p>
    </div>
    <br />

    <div id="environment">
        <h1>IAP 開發設定</h1>
        <hr />

        <p>使用 IAP 相關功能前，請確認於 AndroidManifest.xml 設置所需的 meta-data。</p>
        <%- include code/java-sdk-metadata.html -%>
        <br />
          <ul>
              <li>
                  <b>Base64PublicKey</b>：只有使用 Google IAP 的時候才需要設定此參數。
                  （關於 Google IAP 使用，請參考
                  <a href="https://developer.android.com/google/play/billing/index.html" target="_blank">
                      Google 開發者文件的詳細説明
                  </a>）
              </li>
          </ul>
    </div>
    <br />

    <div id="pay">
        <h1>付款與上傳訂單</h1>
        <hr />
        <p>
            1. 接口函式： <code>void pay(SgSDKPayRequest req, Activity ctx)</code>
        </p>
        <p>2. 接口說明：購買遊戲內付費商品並上傳商品數據。</p>
        <p>3. 輸入參數：</p>
          <ul>
              <li><b>SgSDKPayRequest</b>: 付款參數的資料結構。</li>
              <li><b>Activity </b>: Activity 物件。</li>
          </ul>

        <p>SgSDKPayRequest 結構</p>
        <table  class="table table-striped">
                <tr>
                    <th>屬性</th>
                    <th>是否必填</th>
                    <th>描述</th>
                </tr>
                <tr>
                    <td>ProductId</td>
                    <td>Y</td>
                    <td>產品代號（GooglePlay 的 IAP ID）</td>
                </tr>
                <tr>
                    <td>ProductName</td>
                    <td>Y</td>
                    <td>產品名稱</td>
                </tr>
                <tr>
                    <td>ProductDesc</td>
                    <td>N</td>
                    <td>產品描述</td>
                </tr>
                <tr>
                    <td>PaymentMethod</td>
                    <td>Y</td>
                    <td>產品種類 ex. managed, subscription</td>
                </tr>
                <tr>
                    <td>PaymentChannel</td>
                    <td>N</td>
                    <td>平台 ex.AppStore</td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>N</td>
                    <td>產品價格</td>
                </tr>
                <tr>
                    <td>ServerId</td>
                    <td>N</td>
                    <td>伺服器代號</td>
                </tr>
                <tr>
                    <td>ServerName</td>
                    <td>Ｎ</td>
                    <td>伺服器名稱</td>
                </tr>
                <tr>
                    <td>RoleId</td>
                    <td>Ｎ</td>
                    <td>角色代號</td>
                </tr>
                <tr>
                    <td>RoleName</td>
                    <td>Ｎ</td>
                    <td>角色名稱</td>
                </tr>
                <tr>
                    <td>RoleLevel</td>
                    <td>Ｎ</td>
                    <td>角色等級</td>
                </tr>
                <tr>
                    <td>PayNotifyUrl</td>
                    <td>Ｎ</td>
                    <td>驗證地址</td>
                </tr>
                <tr>
                    <td>OrderId</td>
                    <td>Ｎ</td>
                    <td>訂單編號</td>
                </tr>
                <tr>
                    <td>Receipt</td>
                    <td>Ｎ</td>
                    <td>Appstore的收據</td>
                </tr>
            </table>

        <br />
        <p>
            4. 返回參數：<b>SgSDKPayResponse</b>（<a href="/java-init#listener">回調堅聽</a>的 data 參數）
        </p>
        <table id="SgSDKPayResponse" class="table table-striped">
            <tr>
                <th>屬性</th>
                <th>是否必填</th>
                <th>描述</th>
            </tr>
            <tr>
                <td>Code</td>
                <td>N</td>
                <td>狀態代碼</td>
            </tr>
            <tr>
                <td>Msg</td>
                <td>N</td>
                <td>狀態描述</td>
            </tr>
            <tr>
                <td>Sign</td>
                <td>N</td>
                <td>由SG Server產生的簽名</td>
            </tr>
            <tr>
                <td>ProductId</td>
                <td>Y</td>
                <td>產品代號</td>
            </tr>
            <tr>
                <td>ProductName</td>
                <td>Y</td>
                <td>產品名稱</td>
            </tr>
            <tr>
                <td>ProductDesc</td>
                <td>N</td>
                <td>產品描述</td>
            </tr>
            <tr>
                <td>PaymentMethod</td>
                <td>Y</td>
                <td>產品種類 ex. managed, subscription</td>
            </tr>
            <tr>
                <td>PaymentChannel</td>
                <td>N</td>
                <td>平台 ex.AppStore</td>
            </tr>
            <tr>
                <td>Price</td>
                <td>N</td>
                <td>產品價格</td>
            </tr>
            <tr>
                <td>ServerId</td>
                <td>N</td>
                <td>伺服器代號</td>
            </tr>
            <tr>
                <td>ServerName</td>
                <td>Ｎ</td>
                <td>伺服器名稱</td>
            </tr>
            <tr>
                <td>RoleId</td>
                <td>Ｎ</td>
                <td>角色代號</td>
            </tr>
            <tr>
                <td>RoleName</td>
                <td>Ｎ</td>
                <td>角色名稱</td>
            </tr>
            <tr>
                <td>RoleLevel</td>
                <td>Ｎ</td>
                <td>角色等級</td>
            </tr>
            <tr>
                <td>PayNotifyUrl</td>
                <td>Ｎ</td>
                <td>驗證地址</td>
            </tr>
            <tr>
                <td>OrderId</td>
                <td>Ｎ</td>
                <td>訂單編號</td>
            </tr>
            <tr>
                <td>Receipt</td>
                <td>Ｎ</td>
                <td>Appstore的收據</td>
            </tr>
        </table>

    </div>
    <br />

    <div id="section3">
        <h1><%=texts.p4s3%></h1>
        <hr>
        <p>
            <%=texts.ApiName%><code>pay</code><br />
            <%=texts.ApiExplain%><%=texts.p4h3%><br />
        </p>

        <table class="table">
            <!--Gem Start-->
            <thead>
                <tr>
                    <th>
                        <%=texts.p4t1%>
                    </th>
                    <th>
                        <%=texts.p4t2%>
                    </th>
                    <th>
                        <%=texts.p4t3%>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="active">
                    <td>
                        product_id
                    </td>
                    <td>
                        Y
                    </td>
                    <td>
                        <%=texts.p4d1%> <br> <%=texts.p4p1%>
                    </td>
                </tr>

                <tr>
                    <td>
                        product_name
                    </td>
                    <td>
                        Y
                    </td>
                    <td>
                        <%=texts.p4d2%> <br> <%=texts.p4p1%>
                    </td>
                </tr>

                <tr class="active">
                    <td>
                        product_price
                    </td>
                    <td>
                        Y
                    </td>
                    <td>
                        <%=texts.p4d3%> <br> <%=texts.p4p1%>
                    </td>
                </tr>
            </tbody>
        </table>

        <p>
            <%=texts.ReturnName%><code>ResultCode()</code><br />
            <%=texts.Example%><pre><code class="js">mWebView.loadUrl("http://gameapi.smartgamesltd.com/pay?product_id=com.smartgamesltd.diamond1&product_name=diamond&product_price=1.99");</code></pre>
            <%=texts.ReturnCode + texts.Result%><br />
        </p>
    </div>
</div>