<nav class="col-sm-3" id="myScrollspy">
    <ul class="nav nav-pills nav-stacked well" data-spy="affix" data-offset-top="600" style="background-color: white">
        <li><a href="#section1"><h4> <%=texts.sp3s1%> </h4></a></li>
        <li><a href="#section2"><h4> <%=texts.p3s2%> </h4></a></li>
        <li><a href="#section3"><h4> <%=texts.p3s3%> </h4></a></li>
        <li><a href="#section4"><h4> <%=texts.p3s6%> </h4></a></li>
        <li><a href="#section5"><h4> <%=texts.p3s7%> </h4></a></li>
        <li><a href="#section6"><h4> <%=texts.p3s8%> </h4></a></li>
        <li><a href="#section7"><h4> <%=texts.p3s9%> </h4></a></li>
        <li><a href="#section8"><h4> <%=texts.p3s10%> </h4></a></li>
    </ul>
</nav>

<div class="col-sm-9">
    <div id="section1">
        <h1><%=texts.sp3s1%></h1>
        <hr>
        <h4><%=texts.jp3h1%></h4>
    </div>
    <br>
    <div id="section2">
        <h1><%=texts.p3s2%></h1>
        <hr>
        <p><%=texts.ApiName%><code>signup</code><br/>
            <%=texts.ApiExplain%><%=texts.p3h21%><%=texts.p3h22%><br/>
            <%=texts.ReturnName%><code>ResultCode()</code><br/>
            <%=texts.Example%><pre>myWebView.loadRequest(NSURLRequest(url: NSURL(string: "http://gameapi.smartgamesltd.com/signup")! as URL) as URLRequest)</pre>
            <%=texts.ReturnCode + texts.Result%>
        </p>
    </div>
    <br>
    <div id="section3">
        <h1><%=texts.p3s3%></h1>
        <hr>
        <p><%=texts.ApiName%><code>login</code><br/>
            <%=texts.ApiExplain%><%=texts.p3h31%><%=texts.p3h32%><br/>
            <%=texts.ReturnName%><code>ResultCode()</code><br/>
            <%=texts.Example%><pre>myWebView.loadRequest(NSURLRequest(url: NSURL(string: "http://gameapi.smartgamesltd.com/login")! as URL) as URLRequest)</pre>
            <%=texts.ReturnCode + texts.Result%>
        </pre>
    </div>
    <br>
    <div id="section4">
        <h1><%=texts.p3s6%></h1>
        <hr>
        <p><%=texts.ApiName%><code>ask-code</code><br/>
            <%=texts.ApiExplain%><%=texts.p3h6%><br/>
            <%=texts.ReturnName%><%=texts.Empty%><br/>
            <%=texts.Example%><pre>myWebView.loadRequest(NSURLRequest(url: NSURL(string: "http://gameapi.smartgamesltd.com/ask-code")! as URL) as URLRequest)</pre>
            <%=texts.ReturnCode + texts.Empty%>
        </p>
    </div>
    <br>
    <div id="section5">
        <h1><%=texts.p3s7%></h1>
        <hr>
        <p><%=texts.ApiName%><code>child-data</code><br/>
            <%=texts.ApiExplain%><%=texts.p3h7%><br/>
            <%=texts.ReturnName%><code>ResultCode()</code><br/>
            <%=texts.Example%><pre>myWebView.loadRequest(NSURLRequest(url: NSURL(string: "http://gameapi.smartgamesltd.com/child-data")! as URL) as URLRequest)</pre>
            <%=texts.ReturnCode + texts.Result%>
        </p>
    </div>
    <br>
    <div id="section6">
        <h1><%=texts.p3s8%></h1>
        <hr>
        <p><%=texts.ApiName%><code>my-account</code><br/>
            <%=texts.ApiExplain%><%=texts.p3h8%><br/>
            <%=texts.ReturnName%><%=texts.Empty%><br/>
            <%=texts.Example%><pre>myWebView.loadRequest(NSURLRequest(url: NSURL(string: "http://gameapi.smartgamesltd.com/my-account")! as URL) as URLRequest)</pre>
            <%=texts.ReturnCode + texts.Empty%>
        </p>
    </div>
    <br>
    <div id="section7">
        <h1><%=texts.p3s9%></h1>
        <hr>
        <p><%=texts.ApiName%><code>openid</code><br/>
            <%=texts.ApiExplain%><%=texts.p3h9%><br/>
            <%=texts.ReturnName%><code>GetOpenID()</code><br/>
            <%=texts.Example%><pre>myWebView.loadRequest(NSURLRequest(url: NSURL(string: "http://gameapi.smartgamesltd.com/openid")! as URL) as URLRequest)</pre>
            <%=texts.ReturnCode + texts.p3s9%>
        </p>
    </div>
    <br>
    <div id="section8">
        <h1><%=texts.p3s10%></h1>
        <hr>
        <p><%=texts.ApiName%><code>logout</code><br/>
            <%=texts.ApiExplain%><%=texts.p3h10%><br/>
            <%=texts.ReturnName%><%=texts.Empty%><br/>
            <%=texts.Example%><pre>myWebView.loadRequest(NSURLRequest(url: NSURL(string: "http://gameapi.smartgamesltd.com/logout")! as URL) as URLRequest)</pre>
            <%=texts.ReturnCode + texts.Empty%>
        </p>
    </div>
</div>