<div class="col-sm-9">
    <div id="section1">
        <h1><%=texts.p5s1%></h1>
        <hr>
    </div>
    <br>
    <div id="section2">
        <h1><%=texts.p5s3%></h1>
        <hr>
        <p>
            <%=texts.ApiName%><code>gamestart</code>, <code>gamestop</code><br/>
            <%=texts.ApiExplain%><%=texts.p5h31%> <code>gamestart</code> <%=texts.p5h32%> <code>gamestop</code> <%=texts.p5h33%> <br>
            <%=texts.ReturnName%><%=texts.Empty%><br/>
            <%=texts.Example%><pre><code class="js">myWebView.loadRequest(NSURLRequest(url: NSURL(string: "http://gameapi.smartgamesltd.com/gamestart")! as URL) as URLRequest)<br>myWebView.loadRequest(NSURLRequest(url: NSURL(string: "http://gameapi.smartgamesltd.com/gamestop")! as URL) as URLRequest)</code></pre>
            <%=texts.ReturnCode + texts.Empty%><br/>
        </p>
    </div>
</div>