<div class="col-sm-9">
    <div id="section1">
        <h1><%=texts.p4s1%></h1>
        <hr>
    </div>
    <br>
    <div id="section2">
        <h1><%=texts.p4s2%></h1>
        <hr>
        <h4><%=texts.p4h2%></h4>
    </div>
    <br>
    <div id="section3">
        <h1><%=texts.p4s3%></h1>
        <hr>
        <p>
            <%=texts.ApiName%><code>pay</code><br/>
            <%=texts.ApiExplain%><%=texts.p4h3%><br/>
            HTTP Method : <code>GET</code><br>
        </p>

        <table class="table"> <!--Gem Start-->
            <thead>
            <tr>
                <th>
                    <%=texts.p4t1%>
                </th>
                <th>
                    <%=texts.p4t2%>
                </th>
                <th>
                    <%=texts.p4t3%>
                </th>
            </tr>
            </thead>
            <tbody>
                <tr class="active">
                    <td>
                        product_id
                    </td>
                    <td>
                        Y
                    </td>
                    <td>
                        <%=texts.p4d1%> <br> <%=texts.p4p1%>
                    </td>
                </tr>

                <tr>
                    <td>
                        product_name
                    </td>
                    <td>
                        Y
                    </td>
                    <td>
                        <%=texts.p4d2%> <br> <%=texts.p4p1%>
                    </td>
                </tr>

                <tr class="active">
                    <td>
                        product_price
                    </td>
                    <td>
                        Y
                    </td>
                    <td>
                        <%=texts.p4d3%> <br> <%=texts.p4p2%>
                    </td>
                </tr>

                <tr class="active">
                    <td>
                        notify_url
                    </td>
                    <td>
                        X
                    </td>
                    <td>
                        <%=texts.p4d4%> <br> <%=texts.p4p1%>
                    </td>
                </tr>
            </tbody>
        </table>

        <p>
            <%=texts.Example%><pre><code class="js">http://gameapi.smartgamesltd.com/pay?product_id=com.smartgamesltd.diamond1&product_name=diamond&product_price=1.99</code></pre>
            <%=texts.ReturnCode + texts.Result + texts.ReturnJSON%><code>{"code": 1}</code><br/>
        </p>
    </div>
    <br>
    <div id="section4">
        <h1><%=texts.p4s4%></h1>
        <hr>
        <p>
            <%=texts.ApiName%><code>getorder</code><br/>
            <%=texts.ApiExplain%><%=texts.p4h41%><br/>
            <%=texts.Parameter%>order_id，game_key，user_id，sign</a> <br/>
            HTTP Method : <code>GET</code><br>

        </p>
        <p>
        <%=texts.Example%><pre><code class="js">http://gameapi.smartgamesltd.com/getorder?order_id=11&game_key=d7e73390-d7fd-11e6-9074-21c247f06802&user_id=1000000011&sign=253db4397d1c40cb647d7ea15cb7fbee</code></pre>
        <%=texts.ReturnCode%><%=texts.p4h42%><br/>
        </p>
    </div>
</div>