<div class="col-sm-9">
    <div id="section1">
        <h1><%=texts.p5s1%></h1>
        <hr>
    </div>
    <div id="section2">
        <h1><%=texts.p5s2%></h1>
        <hr>
    </div>
    <div id="section3">
        <h1><%=texts.p5s3%></h1>
        <hr>
        <p>
            <%=texts.ApiName%>startgame, stopgame<br/>
            <%=texts.ApiExplain%>
                <%=texts.p5h31%> <code>startgame</code> <%=texts.p5h32%> <code>stopgame</code> <%=texts.p5h33%> <br>
            <%=texts.Parameter%><%=texts.Empty%><br/>
            <%=texts.Example%><pre><code class="js">http://gameapi.smartgamesltd.com/startgame<br>http://gameapi.smartgamesltd.com/stopgame</code></pre>
            <%=texts.ReturnCode + texts.Empty%><br/>
        </p>
    </div>
</div>