<div class="col-sm-9">
    <div id="section1">
        <h1><%=texts.p2s1%></h1>
        <hr>
    </div>
    <div id="section2">
        <h1><%=texts.p2s2%></h1>
        <hr>
        <h4><%=texts.p2h11%> <a target="_blank" href="http://sggameapi.nicemarket.com.tw/">http://sggameapi.nicemarket.com.tw/</a> <%=texts.p2h12%></h4>
    </div>
    <div id="section3">
        <h1><%=texts.p2s3%></h1>
        <p><%=texts.ApiName%>init<br/>
            <%=texts.ApiExplain%><%=texts.p2h31%><code>init</code><%=texts.p2h32%><br/>
            <%=texts.Parameter%>gamekey，appsecret，privatekey<br/>
            <%=texts.Example%><pre><code class="js">http://sggameapi.nicemarket.com.tw/init?gamekey=2000100003&appsecret=U2FsdGVkX1/O2GlBnAb5xmiXN+KMQWt3LsaATWtBEZQ&privatekey=IZ19biciTnQrfxiEO50zqIgcw79Jnbhf</code></pre>
            <%=texts.ReturnCode + texts.Result%><br/>
        </p>
    </div>
</div>