<div class="col-sm-9">
    <div id="section1">
        <h1><%=texts.p2s1%></h1>
        <hr>
        <h4><%=texts.p2h1%></h4>
    </div>
    <br>
    <div id="section2">
        <h1><%=texts.p2s2%></h1>
        <hr>
        <h4><%=texts.p2h21%><a target="_blank" href="http://gameapi.smartgamesltd.com/">http://gameapi.smartgamesltd.com/</a> <%=texts.p2h22%></h4>
    </div>
    <br>
    <div id="section3">
        <h1><%=texts.p2s3%></h1>
        <hr>
        <p><%=texts.ApiName%><code>init</code><br/>
            <%=texts.ApiExplain%><%=texts.p2h31%><%=texts.p2h32%><br/>
            <%=texts.Parameter%>gamekey，appsecret，<a target="_blank" href="http://apidocs.smartgamesltd.com/channel">channel</a> <br/>
            HTTP Method : <code>GET</code><br>
            <%=texts.Example%><pre><code class="js">http://gameapi.smartgamesltd.com/init?gamekey=d7e73390-d7fd-11e6-9074-21c247f06802&appsecret=d7d7c810-d7ee-11e6-9e86-db4f79aeee86&channel=googleplay</code></pre>
            <%=texts.ReturnCode + texts.Result + texts.ReturnJSON%><code>{"code": 1}</code><br/>
        </p>
    </div>
    <br>
    <div id="section4">
        <h1><%=texts.Description%></h1>
        <hr>
        <h4><%=texts.p2s4%></h4>
        <p><%=texts.p2h41%><code>GetResult()</code><%=texts.p2h42%><code>{"code": 1, "msg": "ok"}</code></p>
        <br>
        <h4><a target="_blank" href="http://dashboard.smartgamesltd.com/my-game">SG Developer</a> <%=texts.GetParameter%></h4>
        <div class="well well-sm">
            <img src=<%= "assets/img/" + lang + "/pic06.png"%> class="img-responsive"/>
        </div>
        <br>
        <h4><%=texts.p2s5%></h4>
        <p><%=texts.p2h5%><br>
            <code>webViewCookie.put("Cookie", response.headers.get("Set-Cookie"));</code>
        </p>
    </div>
</div>