<div class="col-sm-9">
    <div id="section1">
        <h1><%=texts.p4s1%></h1>
        <hr>
    </div>
    <br>
    <div id="section2">
        <h1><%=texts.p4s2%></h1>
        <hr>
        <h4><%=texts.p4h2%></h4>
    </div>
    <br>
    <div id="section3">
        <h1><%=texts.p4s3%></h1>
        <hr>
        <p><%=texts.ApiName%><code>pay</code><br/>
            <%=texts.ApiExplain%><%=texts.p4h3%><br/>
        </p>

        <table class="table"> <!--Gem Start-->
            <thead>
            <tr>
                <th>
                    <%=texts.p4t1%>
                </th>
                <th>
                    <%=texts.p4t2%>
                </th>
                <th>
                    <%=texts.p4t3%>
                </th>
            </tr>
            </thead>
            <tbody>
                <tr class="active">
                    <td>
                        product_id
                    </td>
                    <td>
                        Y
                    </td>
                    <td>
                        <%=texts.p4d1%> <br> <%=texts.p4p1%>
                    </td>
                </tr>

                <tr>
                    <td>
                        product_name
                    </td>
                    <td>
                        Y
                    </td>
                    <td>
                        <%=texts.p4d2%> <br> <%=texts.p4p1%>
                    </td>
                </tr>

                <tr class="active">
                    <td>
                        product_price
                    </td>
                    <td>
                        Y
                    </td>
                    <td>
                        <%=texts.p4d3%> <br> <%=texts.p4p1%>
                    </td>
                </tr>
            </tbody>
        </table>

        <p>
            <%=texts.Example%><pre><code class="js">http://gameapi.smartgamesltd.com/pay?product_id=com.smartgamesltd.diamond1&product_name=diamond&product_price=1.99</code></pre>
            <%=texts.ReturnCode + texts.Result%><br/>
        </p>
    </div>
</div>