<nav class="col-sm-3" id="myScrollspy">
    <ul class="nav nav-pills nav-stacked well" data-spy="affix" data-offset-top="600" style="background-color: white">
        <li><a href="#section1"><h4> <%=texts.p3s1%> </h4></a></li>
        <li><a href="#section2"><h4> <%=texts.p3s2%> </h4></a></li>
        <li><a href="#section3"><h4> <%=texts.p3s3%> </h4></a></li>
        <li><a href="#section4"><h4> <%=texts.p3s4%> </h4></a></li>
        <li><a href="#section5"><h4> <%=texts.p3s5%> </h4></a></li>
        <li><a href="#section6"><h4> <%=texts.p3s6%> </h4></a></li>
        <li><a href="#section7"><h4> <%=texts.p3s7%> </h4></a></li>
        <li><a href="#section8"><h4> <%=texts.p3s8%> </h4></a></li>
        <li><a href="#section9"><h4> <%=texts.p3s9%> </h4></a></li>
        <li><a href="#section10"><h4> <%=texts.p3s10%> </h4></a></li>
    </ul>
</nav>

<div class="col-sm-9">
    <div id="section1">
        <h1><%=texts.p3s1%></h1>
        <hr>
        <h4><%=texts.p3h1%></h4>
    </div>
    <br>
    <div id="section2">
        <h1><%=texts.p3s2%></h1>
        <hr>
        <p> <%=texts.ApiName%><code>signup</code><br/>
            <%=texts.ApiExplain%><%=texts.p3h2%><br/>
            HTTP Method : <code>GET</code><br>
            <%=texts.Example%><pre><code class="js">http://gameapi.smartgamesltd.com/signup</code></pre>
            <div class="well well-sm">
                <img src=<%= "assets/img/" + lang + "/pic08.png"%> class="img-responsive"/>
            </div>

            <%=texts.ReturnCode + texts.CallJS%><code>ResultCode()</code><%='，' + texts.Result%><br>
            <%=texts.NextPage + texts.p3h22%><br>
        </p>
    </div>
    <br>
    <div id="section3">
        <h1><%=texts.p3s3%></h1>
        <hr>
        <p> <%=texts.ApiName%><code>login</code><br/>
            <%=texts.ApiExplain%><%=texts.p3h3%><br/>
            HTTP Method : <code>GET</code><br>
            <%=texts.Example%><pre><code class="js">http://gameapi.smartgamesltd.com/login</code></pre>

            <div class="well well-sm">
                <img src=<%= "assets/img/" + lang + "/pic07.png"%> class="img-responsive"/>
            </div>

            <%=texts.ReturnCode + texts.CallJS%><code>ResultCode()</code><%='，' + texts.Result%><br>
            <%=texts.NextPage + texts.p3h22%><br>
        </p>
    </div>
    <br>
    <div id="section4">
        <h1><%=texts.p3s4%></h1>
        <hr>
        <p> <%=texts.ApiName%><code>forgot-password</code><br/>
            <%=texts.ApiExplain%><%=texts.p3h4%><br/>
            HTTP Method : <code>GET</code><br>
            <%=texts.Example%><pre><code class="js">http://gameapi.smartgamesltd.com/forgot-password</code></pre>

            <div class="well well-sm">
                <img src=<%= "assets/img/" + lang + "/pic09.png"%> class="img-responsive"/>
            </div>

            <%=texts.ReturnCode + texts.CallJS%><code>ResultCode()</code><%='，' + texts.Result%><br>
        </p>
    </div>
    <br>
    <div id="section5">
        <h1><%=texts.p3s5%></h1>
        <hr>
        <p>
            <%=texts.ApiName%><code>change-password</code><br/>
            <%=texts.ApiExplain%><%=texts.p3h5%><br/>
            HTTP Method : <code>GET</code><br>
            <%=texts.Example%><pre><code class="js">http://gameapi.smartgamesltd.com/change-password</code></pre>
            <div class="well well-sm">
                <img src=<%= "assets/img/" + lang + "/pic10.png"%> class="img-responsive"/>
            </div>
            <%=texts.ReturnCode + texts.CallJS%><code>ResultCode()</code><%='，' + texts.Result%><br>
        </p>
    </div>
    <br>
    <div id="section6">
        <h1><%=texts.p3s6%></h1>
        <hr>
        <p>
            <%=texts.ApiName%><code>ask-code</code><br/>
            <%=texts.ApiExplain%><%=texts.p3h6%><br/>
            HTTP Method : <code>GET</code><br>
            <%=texts.Example%><pre><code class="js">http://gameapi.smartgamesltd.com/ask-code</code></pre>
            <div class="well well-sm">
                <img src=<%= "assets/img/" + lang + "/pic11.png"%> class="img-responsive"/>
            </div>
            <%=texts.ReturnCode + texts.Empty%><br>
            <%=texts.NextPage + texts.p3h62%><br>
        </p>
    </div>
    <br/>
    <div id="section7">
        <h1><%=texts.p3s7%></h1>
        <hr>
        <p>
            <%=texts.ApiName%><code>child-data</code><br/>
            <%=texts.ApiExplain%><%=texts.p3h7%><br/>
            HTTP Method : <code>GET</code><br>
            <%=texts.Example%><pre><code class="js">http://gameapi.smartgamesltd.com/child-data</code></pre>
            <div class="well well-sm">
                <img src=<%= "assets/img/" + lang + "/pic12.png"%> class="img-responsive"/>
            </div>
            <%=texts.ReturnCode + texts.CallJS%><code>ResultCode()</code><%='，' + texts.Result%><br>
        </p>
    </div>
    <br>
    <div id="section8">
        <h1><%=texts.p3s8%></h1>
        <hr>
        <p>
            <%=texts.ApiName%><code>my-account</code><br/>
            <%=texts.ApiExplain%><%=texts.p3h8%><br/>
            HTTP Method : <code>GET</code><br>
            <%=texts.Example%><pre><code class="js">http://gameapi.smartgamesltd.com/my-account</code></pre>
            <div class="well well-sm">
                <img src=<%= "assets/img/" + lang + "/pic13.png"%> class="img-responsive"/>
            </div>
            <%=texts.ReturnCode + texts.Empty%>
        </p>
    </div>
    <br>
    <div id="section9">
        <h1><%=texts.p3s9%></h1>
        <hr>
        <p>
            <%=texts.ApiName%><code>openid</code><br/>
            <%=texts.ApiExplain%><%=texts.p3h9%><br/>
            HTTP Method : <code>GET</code><br>
            <%=texts.Example%><pre><code class="js">http://gameapi.smartgamesltd.com/openid</code></pre>
            <%=texts.ReturnCode + texts.p3s9 + texts.ReturnJSON%><code>{"openid": 100001}</code><br/>
        </p>
    </div>
    <br>
    <div id="section10">
        <h1><%=texts.p3s10%></h1>
        <hr>
        <p><%=texts.ApiName%><code>logout</code><br/>
            <%=texts.ApiExplain%><%=texts.p3h10%><br/>
            HTTP Method : <code>GET</code><br>
            <%=texts.Example%><pre><code class="js">http://gameapi.smartgamesltd.com/logout</code></pre>
            <%=texts.ReturnCode + texts.Empty%>
        </p>
    </div>
</div>