<div class="col-sm-9">
    <div id="section1">
        <h1><%=texts.p5s1%></h1>
        <hr>
    </div>
    <br>
    <div id="section2">
        <h1><%=texts.p5s3%></h1>
        <hr>
        <p>
            <%=texts.ApiName%><code>gamestart, gamestop</code><br/>
            <%=texts.ApiExplain%>
                <%=texts.p5h31 + 'gamestart' + texts.p5h32 + 'gamestop' + texts.p5h33%><br>
            <%=texts.Example%><pre><code class="js">http://gameapi.smartgamesltd.com/gamestart</code></pre>
            <%=texts.ReturnCode + texts.Empty%><br/>
            <br>
            <%=texts.Example%><pre><code class="js">http://gameapi.smartgamesltd.com/gamestop</code></pre>
            <%=texts.ReturnCode + texts.CallJS%><code>GetResult()</code><%=texts.p2h42%><code>{"code": 1, "msg": "ok"}</code><br>
            <a href="/webapi-init#section5"> <%=texts.LookCode%> </a>
        </p>
    </div>


</div>