<div class="left-side" id="myScrollspy">
    <ul class="nav nav-pills">
        <li><a href="#MemberSystem">User System</a></li>
        <li><a href="#Signup">Signup</a></li>
        <li><a href="#Login">Login</a></li>
        <li><a href="#ForgotPassword">Forget Password</a></li>
        <li><a href="#ChangePassword">Change Password</a></li>
        <li><a href="#ParentalLock">Parental Lock</a></li>
        <li><a href="#MyKid">My Kid</a></li>
        <li><a href="#SelectKid">Select Kid</a></li>
        <li><a href="#MyAccount">My Account</a></li>
        <li><a href="#VerifySession">Verify Session</a></li>
        <li><a href="#LoginByToken">Login by Token</a></li>
        <li><a href="#OtherFunction">Other Functions</a></li>
        <li><a href="#FloatingButton">Widget</a></li>
        <li><a href="#Logout">Logout</a></li>
    </ul>
</div>
<div class="right-side">
    <section id="MemberSystem">
        <h1>User System</h1>
        <p>
            User system is used to manage SG users, including
            signup, login and kids (family members ) management, etc.
            Most of the functions use <b>WebView</b> control as part of the process flow.
            To handle response of these functions, you need to register a <a href="/java-init#listener">callback listener</a> to SGSDK.
        </p>
    </section>


    <section id="Signup">
        <h1>Signup</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">Function</span>
                <p><pre>void signup()</pre></p>

                <span class="badge badge-ttl">Description</span>
                <ul>
                    <li>Launch [Signup] view.  </li>
                    <li>After signning up, system logs user in automatically, and <a href="#FloatingButton">widget button</a> is shown.</li>
                </ul>

                <span class="badge badge-ttl">Response</span>
                <ul>
                    <li>
                        Please refer to 【<a href="/java-init#listener">SDK Callback Listener</a>】
                        and 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
                    </li>
                    <li>Listener result data: <a href="/webapi-init#SGMember">SGMember</a>. </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">WebView UI</span>
                <a href="<%= " assets/img/" + lang + "/pic08.png" %>" data-toggle="lightbox">
                <img src="<%= " assets/img/" + lang + "/pic08.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="Login">
        <h1>Login</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">Function</span>
                <p><pre>void login()</pre></p>

                <span class="badge badge-ttl">Description</span>
                <ul>
                    <li>Launch [Login] view.  </li>
                    <li>After successful login, <a href="#FloatingButton">widget button</a> is shown.</li>
                </ul>

                <span class="badge badge-ttl">Response</span>
                <ul>
                    <li>
                        Please refer to 【<a href="/java-init#listener">SDK Callback Listener</a>】
                        and 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
                    </li>
                    <li>Listener result data: <a href="/webapi-init#SGMember">SGMember</a>. </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">WebView UI</span>
                <a href="<%= " assets/img/" + lang + "/pic07.png" %>" data-toggle="lightbox">
                <img src="<%= " assets/img/" + lang + "/pic07.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="ForgotPassword">
        <h1>Forget Password</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">Function</span>
                <p><pre>void forgetPassword()</pre></p>

                <span class="badge badge-ttl">Description</span>
                <ul><li>Launch [Forget Password] view.</li></ul>

                <span class="badge badge-ttl">Response</span>
                <ul>
                    <li>
                        Please refer to 【<a href="/java-init#listener">SDK Callback Listener</a>】
                        and 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
                    </li>
                    <li>Listener result data: None. </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">WebView UI</span>
                <a href="<%= " assets/img/" + lang + "/pic09.png" %>" data-toggle="lightbox">
                <img src="<%= " assets/img/" + lang + "/pic09.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="ChangePassword">
        <h1>Change Password</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">Function</span>
                <p><pre>void changePassword()</pre></p>

                <span class="badge badge-ttl">Description</span>
                <ul>
                    <li>Launch [Change Password] view.</li>
                </ul>

                <span class="badge badge-ttl">Response</span>
                <ul>
                    <li>
                        Please refer to 【<a href="/java-init#listener">SDK Callback Listener</a>】
                        and 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
                    </li>
                    <li>Listener result data: None. </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">WebView UI</span>
                <a href="<%= " assets/img/" + lang + "/pic10.png" %>" data-toggle="lightbox">
                <img src="<%= " assets/img/" + lang + "/pic10.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="ParentalLock">
        <h1>Parental Lock</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">Function</span>
                <p><pre>void parentalLock()</pre></p>

                <span class="badge badge-ttl">Description</span>
                <ul>
                    <li>Launch [Parental Lock] view.</li>
                    <li>You can use parental lock utility view before important actions.</li>
                </ul>

                <!--<span class="badge badge-ttl">Response</span>
                <ul>
                    <li>
                        Please refer to 【<a href="/java-init#listener">SDK Callback Listener</a>】
                        and 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
                    </li>
                    <li>Listener result data: None. </li>
                </ul>-->
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">WebView UI</span>
                <a href="<%= " assets/img/" + lang + "/pic11.png" %>" data-toggle="lightbox">
                <img src="<%= " assets/img/" + lang + "/pic11.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="MyKid">
        <h1>My Kid</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">Function</span>
                <p><pre>void myKid()</pre></p>

                <span class="badge badge-ttl">Description</span>
                <ul>
                    <li>Launch [My Kid] view.</li>
                    <li>The flow is for creating new kid (family member) of the user.</li>
                </ul>

                <span class="badge badge-ttl">Response</span>
                <ul>
                    <li>
                        Please refer to 【<a href="/java-init#listener">SDK Callback Listener</a>】
                        and 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
                    </li>
                    <li>Listener result data: None. </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">WebView UI</span>
                <a href="<%= " assets/img/" + lang + "/pic12.png" %>" data-toggle="lightbox">
                <img src="<%= " assets/img/" + lang + "/pic12.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="SelectKid">
        <h1>Select Kid</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">Function</span>
                <p><pre>void selectKid()</pre></p>

                <span class="badge badge-ttl">Description</span>
                <ul>
                    <li>Launch [Select Kid] view.</li>
                    <li>
                        The flow is used to select a kid to play.
                        After selection, you can use <a href="#GetKidIndex">GetKidIndex()</a> and <a href="#GetKidFace">GetKidFace()</a> to get selected kid index and face icon number.
                    </li>
                </ul>

                <span class="badge badge-ttl">Response</span>
                <ul>
                    <li>
                        Please refer to 【<a href="/java-init#listener">SDK Callback Listener</a>】
                        and 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
                    </li>
                    <li>Listener result data: None. </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">WebView UI</span>
                <a href="<%= " assets/img/" + lang + "/pic14.png" %>" data-toggle="lightbox">
                <img src="<%= " assets/img/" + lang + "/pic14.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="MyAccount">
        <h1>My Account</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">Function</span>
                <p><pre>void myAccount()</pre></p>

                <span class="badge badge-ttl">Description</span>
                <ul>
                    <li>Launch [My Account] view.</li>
                    <li>The flow is the entry page for managing kids (family members).</li>
                </ul>

                <!--<span class="badge badge-ttl">Response</span>
                <ul>
                    <li>
                        Please refer to 【<a href="/java-init#listener">SDK Callback Listener</a>】
                        and 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
                    </li>
                    <li>Listener result data: None. </li>
                </ul>-->
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">WebView UI</span>
                <a href="<%= " assets/img/" + lang + "/pic13.png" %>" data-toggle="lightbox">
                <img src="<%= " assets/img/" + lang + "/pic13.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="VerifySession">
        <h1>Verify Session</h1>
        <span class="badge badge-ttl">Function</span>
        <p><pre>verifySession(String gameKey, String sessionId, String openId, Stirng sign)</pre></p>

        <span class="badge badge-ttl">Description</span>
        <ul>
            <li>Verify if current session ID is valid.</li>
        </ul>

        <span class="badge badge-ttl">Parameters</span>
        <table class="table table-striped">
            <tr>
                <td>gameKey</td>
                <td>Your developer identification.</td>
            </tr>
            <tr>
                <td>sessionId</td>
                <td>
                    Current session ID.<br />
                    You can obtain it through <a href="#GetSessionID">GetSessionID()</a> after user login.
                </td>
            </tr>
            <tr>
                <td>openId</td>
                <td>
                    SG member ID. <br />
                    You can obtain it through <a href="#GetOpenID">GetOpenID()</a> after user login.
                </td>
            </tr>
            <tr>
                <td>sign</td>
                <td>
                    Signature generated from above three parameters.<br />
                    Please refer to <a href="/server-sign#section2">signature algorithm</a>.
                </td>
            </tr>
        </table>

        <span class="badge badge-ttl">Response</span>
        <p>
            <ul>
                <li>
                    Please refer to 【<a href="/java-init#listener">SDK Callback Listener</a>】
                    and 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
                </li>
                <li>Listener result data: None. </li>
            </ul>
        </p>
    </section>

    <section id="LoginByToken">
        <h1>Login by Token</h1>
        <span class="badge badge-ttl">Function</span>
        <p><pre>void loginByToken(String token)</pre></p>

        <span class="badge badge-ttl">Description</span>
        <ul>
            <li>Login into the system by previously saved token.</li>
        </ul>

        <span class="badge badge-ttl">Parameters</span>
        <ul>
            <li>
                Token used for login.<br />
                You can obtain it through <a href="#GetToken">GetToken()</a> after user login.
            </li>
        </ul>

        <span class="badge badge-ttl">Response</span>
        <ul>
            <li>
                Please refer to 【<a href="/java-init#listener">SDK Callback Listener</a>】
                and 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
            </li>
            <li>Listener result data: <a href="/webapi-init#SGMember">SGMember</a>. </li>
        </ul>
    </section>

    <section id="OtherFunction">
        <h1>Other Functions</h1>

        <section id="GetOpenID">
            <h3>1.Get Open ID</h3>
            <span class="badge badge-ttl">Function</span>
            <p><pre>String getOpenID()</pre></p>
            <span class="badge badge-ttl">Description</span>
            <ul><li>Obtain Open ID (SG ID) after user login.</li></ul>
            <span class="badge badge-ttl">Response</span>
            <ul><li>Return Open ID if successful, or NULL if failed.</li></ul>
            <br />
        </section>

        <section id="GetSessionID">
            <h3>2.Get Session ID</h3>
            <span class="badge badge-ttl">Function</span>
            <p><pre>String getSessionID()</pre></p>
            <span class="badge badge-ttl">Description</span>
            <ul><li>Obtain Session ID after user login.</li></ul>
            <span class="badge badge-ttl">Response</span>
            <ul><li>Return Session ID if successful, or NULL if failed.</li></ul>
            <br />
        </section>

        <section id="GetToken">
            <h3>3.Get Token</h3>
            <span class="badge badge-ttl">Function</span>
            <p><pre>void getToken()</pre></p>
            <span class="badge badge-ttl">Description</span>
            <ul>
                <li>Obtain Token after user login.</li>
            </ul>
            <span class="badge badge-ttl">Response</span>
            <ul><li>Return Token if successful, or NULL if failed.</li></ul>
            <br />
        </section>

        <section id="GetKidIndex">
            <h3>4.Get index of selected kid</h3>
            <span class="badge badge-ttl">Function</span>
            <p><pre>int getKidIndex()</pre></p>
            <span class="badge badge-ttl">Description</span>
            <ul>
                <li>Obtain index of selected kid.</li>
                <li>
                    Note: invoking following functions might change kid index:
                    <code>login</code>, <code>signup</code>, <code>selectKid</code>, <code>myKid</code>,
                    and <code>loginByToken</code>.
                </li>
            </ul>
            <span class="badge badge-ttl">Response</span>
            <ul>
                <li>Return index number if successful, or 0 if failed.</li>
            </ul>
            <br />
        </section>

        <section id="GetKidFace">
            <h3>5.Get face icon of selected kid</h3>
            <span class="badge badge-ttl">Function</span>
            <p><pre>String getKidFace()</pre></p>
            <span class="badge badge-ttl">Description</span>
            <ul><li>Obtain face icon of selected kid.</li></ul>
            <span class="badge badge-ttl">Response</span>
            <ul><li>Return face icon if successful, or NULL if failed.</li></ul>
            <br />
        </section>

        <section id="GetLoginState">
            <h3>6.Check login status</h3>
            <span class="badge badge-ttl">Function</span>
            <p><pre>boolean isLogin()</pre></p>
            <span class="badge badge-ttl">Description</span>
            <ul>
                <li>Check login status.</li>
            </ul>
            <span class="badge badge-ttl">Response</span>
            <ul><li>Return true if login, or false if not.</li></ul>
            <br />
        </section>

        <section id="GetChannel">
            <h3>7.Get Channel ID</h3>
            <span class="badge badge-ttl">Function</span>
            <p><pre>String getChannelID()</pre></p>
            <span class="badge badge-ttl">Description</span>
            <ul><li>Obtain Channel ID</li></ul>
            <span class="badge badge-ttl">Response</span>
            <ul>
                <li>Return Channel ID if successful, or NULL if failed.</li>
                <li>Please refer to  <a href="/channel">Channel List table</a>.</li>
            </ul>
            <br />
        </section>
    </section>

    <section id="FloatingButton">
        <h1>Widget</h1>

        <h3>1.Show widget button</h3>
        <span class="badge badge-ttl">Function</span>
        <p><pre>void showWidget(EWidgetLocation location)</pre></p>

        <span class="badge badge-ttl">Description</span>
        <ul>
            <li>Widget button is shown automatically after successful login or signup.</li>
            <li>Click on widget button will launch <a href="#MyAccount">My Account</a> view.</li>
        </ul>

        <span class="badge badge-ttl">Parameters</span>
        <p>Enum : EWidgetLocation</p>
        <table class="table table-striped">
            <tr>
                <th>Case</th>
                <th style="width:50%">Description</th>
            </tr>
            <tr>
                <td>TopLeft</td>
                <td>Top left of the screen</td>
            </tr>
            <tr>
                <td>Top</td>
                <td>Top of the screen</td>
            </tr>
            <tr>
                <td>TopRight</td>
                <td>Top right of the screen</td>
            </tr>
            <tr>
                <td>Left</td>
                <td>Left side of the screen</td>
            </tr>
            <tr>
                <td>Right</td>
                <td>Right side of the screen</td>
            </tr>
            <tr>
                <td>BottomLeft</td>
                <td>Bottom left of the screen</td>
            </tr>
            <tr>
                <td>Bottom</td>
                <td>Bottom of the screen</td>
            </tr>
            <tr>
                <td>BottomRight</td>
                <td>Bottom right of the screen</td>
            </tr>
        </table>
        
        <br />

        <h3>2.Hide widget button</h3>
        <span class="badge badge-ttl">Function</span>
        <p><pre>void hideWidget()</pre></p>
        <span class="badge badge-ttl">Description</span>
        <ul><li>Hide widget button.</li></ul>
        <br />

        <h3>3.Check widget visibility</h3>
        <span class="badge badge-ttl">Function</span>
        <p><pre>boolean isWidgetVisible()</pre></p>
        <span class="badge badge-ttl">Description</span>
        <ul><li>Check widget visibility.</li></ul>
        <span class="badge badge-ttl">Response</span>
        <ul><li>True if visible, or false if not.</li></ul>
    </section>

    <section id="Logout">
        <h1>Logout</h1>
        <span class="badge badge-ttl">Function</span>
        <p><pre>void logout()</pre></p>

        <span class="badge badge-ttl">Description</span>
        <ul>
            <li>Log user out.</li>
            <li>After successful logout, <a href="#FloatingButton">widget button</a> is hidden automatically.</li>
        </ul>

        <span class="badge badge-ttl">Response</span>
        <ul>
            <li>
                Please refer to 【<a href="/java-init#listener">SDK Callback Listener</a>】
                and 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
            </li>
            <li>Listener result data: None. </li>
        </ul>
    </section>


</div>
