<div class="left-side" id="myScrollspy">

    <ul class="nav nav-pills">
        <li><a href="#summary">Auxiliary System</a></li>
        <li><a href="#init">Initialization</a></li>
    </ul>

</div>

<div class="right-side">

    <section id="summary">
        <h1>Auxiliary System</h1>
        <p>The Auxiliary System of SGUtil For Unity provides following methods.</p>
    </section>

    <section id="init">
        <h1>Initialization</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">Method</span>
                <p><pre>void Init(string gameServerClassName, bool autoDeliverProduct)</pre></p>

        		<span class="badge badge-ttl">Parameters</span>
        		<ul>
		            <li>gameServerClassName - Instance of game server interface, need to be implemented by CP. For details of game server interface, please refer to
					<a href=<%= "assets/html/" + lang + "/android/jdoc/sgutil/com/sg/util/SGGameServerInterface.html"%>> SGGameServerInterface </a>.</li>
                    <li>autoDeliverProduct - specify whether SGUtil should automatically check order state and let game server mark it as delivered after user
					completes UI operation to buy a product. If set it to false, you need to manually do the job by calling GetOrderState later.</li>
				</ul>

                <span class="badge badge-ttl">Remark</span>
                <ul>
                    <li>Initialize SGUtil For Unity.</li>
                    <li>The result of initialization is notified via OnInit.</li>
                </ul>

            </div>
            <div class="col-sm-3">
                <!--<span class="badge badge-ttl">WebView 頁面</span>
                <a href="<%= " assets/img/" + lang + "/pic07.png" %>" data-toggle="lightbox">
                <img src="<%= " assets/img/" + lang + "/pic07.png" %>" class="img-responsive"/>
                </a>-->
            </div>
        </div>
    </section>

    <section id="InitCallback">
        <h1>Initialization Callback</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">Method</span>
                <p><pre>void OnInit(SGUStateChangeReason reason)</pre></p>

                <span class="badge badge-ttl">Parameters</span>
                <ul>
                    <li>reason - one of STATE_CHANGE_REASON_OP_SUCCESS（succeeded）、STATE_CHANGE_REASON_OP_FAILURE（failed）</li>
                </ul>

                <span class="badge badge-ttl">说明</span>
                <ul>
                    <li>You must not do any subsequent calls neither should you call Init again if the initialization failed.</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <!--<span class="badge badge-ttl">WebView 頁面</span>
                <a href="<%= " assets/img/" + lang + "/pic07.png" %>" data-toggle="lightbox">
                <img src="<%= " assets/img/" + lang + "/pic07.png" %>" class="img-responsive"/>
                </a>-->
            </div>
        </div>
    </section>

</div>
