<div class="left-side" id="myScrollspy">
    <ul class="nav nav-pills">
        <li><a href="#MemberSystem">User System</a></li>
        <li><a href="#Signup">Signup</a></li>
        <li><a href="#Login">Login</a></li>
        <li><a href="#ForgotPassword">Forget Password</a></li>
        <li><a href="#ChangePassword">Change Password</a></li>
        <li><a href="#ParentalLock">Parental Lock</a></li>
        <li><a href="#MyKid">My Kid</a></li>
        <li><a href="#SelectKid">Select Kid</a></li>
        <li><a href="#MyAccount">My Account</a></li>
        <li><a href="#VerifySession">Verify Session</a></li>
        <li><a href="#LoginByToken">Login by Token</a></li>
        <li><a href="#OtherFunction">SDK Property</a></li>
        <li><a href="#FloatingButton">Widget</a></li>
        <li><a href="#Logout">Logout</a></li>
    </ul>
</div>
<div class="right-side">
    <section id="MemberSystem">
        <h1>User System</h1>
        <p>Using SGSDK call function like Signup, Login etc.
            Some function have return value. After received result client have to handle by each code.
    </section>

    <section id="Signup">
        <h1>Signup</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">Function</span>
                <p><pre>void Signup()</pre></p>

                <span class="badge badge-ttl">Description</span>
                <ul><li>After signing up, system logs user in automatically. Then close UI.</li></ul>

                <span class="badge badge-ttl">Response</span>
                <ul>
                    <li>
                        Please refer to 【<a href="/unity-init#use">SDK Callback Listener</a>】
                        and 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
                    </li>
                    <li>Listener result data: <a href="/webapi-init#SGMember">SGMember</a>.</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">Native UI</span>
                <a href="<%= " assets/img/" + lang + "/swiftpic11.png" %>" data-toggle="lightbox">
                <img src="<%= " assets/img/" + lang + "/swiftpic11.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="Login">
        <h1>Login</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">Function</span>
                <p><pre>void Login()</pre></p>

                <span class="badge badge-ttl">Description</span>
                <ul>
                    <li>After successful login, close UI.</li>
                    <li>After successful login, <a href="#FloatingButton">widget button</a> is shown.</li>
                </ul>

                <span class="badge badge-ttl">Response</span>
                <ul>
                    <li>
                        Please refer to 【<a href="/swift-init#listener">SDK Callback Listener</a>】
                        and 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
                    </li>
                    <li>Listener result data: <a href="/webapi-init#SGMember">SGMember</a>.</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">Native UI</span>
                <a href="<%= " assets/img/" + lang + "/swiftpic12.png" %>" data-toggle="lightbox">
                <img src="<%= " assets/img/" + lang + "/swiftpic12.png" %>" class="img-responsive"/>
                </a>

                <span class="badge badge-ttl">Native UI</span>
                <a href="<%= " assets/img/" + lang + "/swiftpic13.png" %>" data-toggle="lightbox">
                    <img src="<%= " assets/img/" + lang + "/swiftpic13.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="ForgotPassword">
        <h1>Forget Password</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">Function</span>
                <p><pre>void ForgetPassword()</pre></p>

                <span class="badge badge-ttl">Description</span>
                <ul><li>Launch [Forget Password] view for reset password.</li></ul>

                <span class="badge badge-ttl">Response</span>
                <ul>
                    <li>
                        Please refer to 【<a href="/java-init#listener">SDK Callback Listener</a>】
                        and 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
                    </li>
                    <li>Listener result data: None. </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">Native UI</span>
                <a href="<%= " assets/img/" + lang + "/swiftpic14.png" %>" data-toggle="lightbox">
                <img src="<%= " assets/img/" + lang + "/swiftpic14.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="ChangePassword">
        <h1>Forget Password</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">Function</span>
                <p><pre>void ChangePassword()</pre></p>

                <span class="badge badge-ttl">Description</span>
                <ul><li>Launch [Change Password] view.</li></ul>

                <span class="badge badge-ttl">Response</span>
                <ul>
                    <li>
                        Please refer to 【<a href="/java-init#listener">SDK Callback Listener</a>】
                        and 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
                    </li>
                    <li>Listener result data: None. </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">Native UI</span>
                <a href="<%= " assets/img/" + lang + "/swiftpic15.png" %>" data-toggle="lightbox">
                <img src="<%= " assets/img/" + lang + "/swiftpic15.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="ParentalLock">
        <h1>Parental Lock</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">Function</span>
                <p><pre>UIParentalLock.Visible = true;</pre></p>

                <span class="badge badge-ttl">Description</span>
                <ul>
                    <li>You can use parental lock utility view before important actions.</li>
                    <li>Enter right code SDK will open Parent Center.</li>
                </ul>

                <span class="badge badge-ttl">UI Setting</span>
                <ul>
                    <li>Muti-language game have to call <code>SGTextConst.Language</code> before open UI. Default language is follow mobile device language setting. </li>
                    <li>Setting callback for change child's data <code>SGNetwork.OnKidChange</code>.</li>
                    <li>China version SDK have to call <code>SGNetwork.Get.IsChinaVersion = SGSDK.Instance.IsChinaVersion;</code></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">Unity UI</span>
                <a href="<%= " assets/img/" + lang + "/unity_parentallock.png" %>" data-toggle="lightbox">
                    <img src="<%= " assets/img/" + lang + "/unity_parentallock.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="MyKid">
        <h1>Parent Center</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">Function</span>
                <p><pre>UIUserCenter.Visible = true;</pre></p>

                <span class="badge badge-ttl">Description</span>
                <ul>
                    <li>Open Unity UI of Parent Center</li>
                </ul>

                <span class="badge badge-ttl">Feature Explain</span>
                <ul>
                    <li>1.Screen Time：Allow parents to set the time for games to prevent children play game too long.</li>
                    <li>2.My Account：Account connects to phone number, WeChat and Facebook. Set child information for playing. Change password and log out.</li>
                    <li>3.News：Show game event content.</li>
                    <li>4.Help：Help users to play games and collect user feedback.</li>
                    <li>5.About Us：Official information.</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">Time Control UI</span>
                <a href="<%= " assets/img/" + lang + "/unity_timecontrol.png" %>" data-toggle="lightbox">
                    <img src="<%= " assets/img/" + lang + "/unity_timecontrol.png" %>" class="img-responsive"/>
                </a>

                <span class="badge badge-ttl">Alarm Setting UI</span>
                <a href="<%= " assets/img/" + lang + "/unity_rest.png" %>" data-toggle="lightbox">
                    <img src="<%= " assets/img/" + lang + "/unity_rest.png" %>" class="img-responsive"/>
                </a>

                <span class="badge badge-ttl">Account Info UI</span>
                <a href="<%= " assets/img/" + lang + "/unity_account.png" %>" data-toggle="lightbox">
                    <img src="<%= " assets/img/" + lang + "/unity_account.png" %>" class="img-responsive"/>
                </a>

                <span class="badge badge-ttl">Child's Info UI</span>
                <a href="<%= " assets/img/" + lang + "/unity_kid.png" %>" data-toggle="lightbox">
                    <img src="<%= " assets/img/" + lang + "/unity_kid.png" %>" class="img-responsive"/>
                </a>

                <span class="badge badge-ttl">News UI</span>
                <a href="<%= " assets/img/" + lang + "/unity_news.png" %>" data-toggle="lightbox">
                    <img src="<%= " assets/img/" + lang + "/unity_news.png" %>" class="img-responsive"/>
                </a>

                <span class="badge badge-ttl">Common Problem UI</span>
                <a href="<%= " assets/img/" + lang + "/unity_question.png" %>" data-toggle="lightbox">
                    <img src="<%= " assets/img/" + lang + "/unity_question.png" %>" class="img-responsive"/>
                </a>

                <span class="badge badge-ttl">Feedback UI</span>
                <a href="<%= " assets/img/" + lang + "/unity_feedback.png" %>" data-toggle="lightbox">
                    <img src="<%= " assets/img/" + lang + "/unity_feedback.png" %>" class="img-responsive"/>
                </a>

                <span class="badge badge-ttl">Contact Info UI</span>
                <a href="<%= " assets/img/" + lang + "/unity_contact.png" %>" data-toggle="lightbox">
                    <img src="<%= " assets/img/" + lang + "/unity_contact.png" %>" class="img-responsive"/>
                </a>

                <span class="badge badge-ttl">Abount Üoo UI</span>
                <a href="<%= " assets/img/" + lang + "/unity_aboutuoo.png" %>" data-toggle="lightbox">
                    <img src="<%= " assets/img/" + lang + "/unity_aboutuoo.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="OtherFunction">
        <h1>SDK Property</h1>

        <section id="GetOpenID">
            <h3>1.Get Open ID</h3>
            <span class="badge badge-ttl">Function</span>
            <p><pre>string OpenID</pre></p>
            <span class="badge badge-ttl">Description</span>
            <ul><li>Return OpenID if successful, or null if failed.</li></ul>
            <br />
        </section>

        <section id="GetSessionID">
            <h3>2.Get Session ID</h3>
            <span class="badge badge-ttl">Function</span>
            <p><pre>string SessionID</pre></p>
            <span class="badge badge-ttl">Description</span>
            <ul><li>Get Session ID after login.</li></ul>
            <br />
        </section>

        <section id="GetToken">
            <h3>3.Get Token</h3>
            <span class="badge badge-ttl">Function</span>
            <p><pre>string Token</pre></p>
            <span class="badge badge-ttl">Description</span>
            <ul>
                <li>Get Token after login.</li>
            </ul>
            <br />
        </section>

        <section id="GetKidIndex">
            <h3>4.Get index of selected kid</h3>
            <span class="badge badge-ttl">Function</span>
            <p><pre>int KidIndex</pre></p>
            <span class="badge badge-ttl">Description</span>
            <ul>
                <li>Obtain index of selected kid.</li>
                <li>
                    Note: invoking following functions might change kid index:
                    <code>login</code>, <code>signup</code>, <code>selectKid</code>, <code>myKid</code>,
                    and <code>loginByToken</code>.
                </li>
            </ul>
            <br />
        </section>

        <section id="GetKidFace">
            <h3>5.Get face icon of selected kid</h3>
            <span class="badge badge-ttl">Function</span>
            <p><pre>string KidFace</pre></p>
            <span class="badge badge-ttl">Description</span>
            <ul><li>Obtain face icon of selected kid.</li></ul>
            <br />
        </section>

        <section id="GetLoginState">
            <h3>6.Check login status</h3>
            <span class="badge badge-ttl">Function</span>
            <p><pre>bool IsLogin</pre></p>
            <span class="badge badge-ttl">Description</span>
            <ul><li>Check login status.</li></ul>
            <span class="badge badge-ttl">Response</span>
            <ul><li>Return true if login, or false if not.</li></ul>
            <br />
        </section>

        <section id="GetChannel">
            <h3>7.Get Channel ID</h3>
            <span class="badge badge-ttl">Function</span>
            <p><pre>String ChannelID</pre></p>
            <span class="badge badge-ttl">Description</span>
            <ul><li>Obtain Channel ID</li></ul>
            <span class="badge badge-ttl">Response</span>
            <ul><li>Return ChannelID if successful, or null if failed.</li>
                <li>Please refer to  <a href="/channel">Channel List table</a>.
            </ul>
            <br />
        </section>
    </section>

    <section id="FloatingButton">
        <h1>Widget</h1>

        <h3>1.Show widget button</h3>
        <span class="badge badge-ttl">Function</span>
        <p><pre>void ShowWidget(EWidgetLocation location)</pre></p>

        <span class="badge badge-ttl">Description</span>
        <ul>
            <li>Widget button is shown automatically after successful login or signup.</li>
            <li>Click on widget button will launch <a href="#MyAccount">My Account</a> view.</li>
        </ul>

        <span class="badge badge-ttl">Parameters</span>
        <p>Enum : EWidgetLocation</p>
        <table class="table table-striped">
            <tr>
                <th>Case</th>
                <th style="width:50%">Description</th>
            </tr>
            <tr>
                <td>TopLeft</td>
                <td>Top left of the screen</td>
            </tr>
            <tr>
                <td>Top</td>
                <td>Top of the screen</td>
            </tr>
            <tr>
                <td>TopRight</td>
                <td>Top right of the screen</td>
            </tr>
            <tr>
                <td>Left</td>
                <td>Left side of the screen</td>
            </tr>
            <tr>
                <td>Right</td>
                <td>Right side of the screen</td>
            </tr>
            <tr>
                <td>BottomLeft</td>
                <td>Bottom left of the screen</td>
            </tr>
            <tr>
                <td>Bottom</td>
                <td>Bottom of the screen</td>
            </tr>
            <tr>
                <td>BottomRight</td>
                <td>Bottom right of the screen</td>
            </tr>
        </table>
        
        <br />

        <h3>2.Hide widget button</h3>
        <span class="badge badge-ttl">Function</span>
        <p><pre>void HideWidget()</pre></p>
        <span class="badge badge-ttl">Description</span>
        <ul><li>Hide widget button.</li></ul>
        <br />

        <h3>3.Check widget visibility</h3>
        <span class="badge badge-ttl">Function</span>
        <p><pre>bool WidgetVisible</pre></p>
        <span class="badge badge-ttl">Description</span>
        <ul><li>Check widget visibility.</li></ul>
        <span class="badge badge-ttl">Response</span>
        <ul><li>True if visible, or false if not.</li></ul>
    </section>

    <section id="Logout">
        <h1>Logout</h1>
        <span class="badge badge-ttl">Function</span>
        <p><pre>void Logout()</pre></p>

        <span class="badge badge-ttl">Description</span>
        <ul>
            <li>Log user out.</li>
            <li>After successful logout, <a href="#FloatingButton">widget button</a> is hidden automatically.</li>
        </ul>

        <span class="badge badge-ttl">Response</span>
        <ul>
            <li>
                Please refer to 【<a href="/java-init#listener">SDK Callback Listener</a>】
                and 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
            </li>
            <li>Listener result data: None. </li>
        </ul>
    </section>


</div>
