<div class="left-side" id="myScrollspy">
    <ul class="nav nav-pills">
        <li><a href="#MemberSystem">User System</a></li>
        <li><a href="#Login">Login</a></li>
        <li><a href="#Logout">Logout</a></li>
        <li><a href="#Exit">Exit</a></li>
    </ul>
</div>
<div class="right-side">
    <section id="MemberSystem">
        <h1>User System</h1>
        <p>The User System of SGUtil For Unity provides following methods.</p>
    </section>

    <section id="Login">
        <h1>Login</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">Method</span>
                <p><pre>void Login()</pre></p>

                <span class="badge badge-ttl">Remark</span>
                <ul>
                    <li>Starts up channel login screen, followed by channel login confirmation and game server login.</li>
                    <li>The login result is notified via OnLogin.</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <!--<span class="badge badge-ttl">WebView 頁面</span>
                <a href="<%= " assets/img/" + lang + "/pic07.png" %>" data-toggle="lightbox">
                <img src="<%= " assets/img/" + lang + "/pic07.png" %>" class="img-responsive"/>
                </a>-->
            </div>
        </div>
    </section>

    <section id="LoginCallback">
        <h1>Login Callback</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">Method</span>
                <p><pre>void OnLogin(SGUResult resultCode)</pre></p>

                <span class="badge badge-ttl">Parameters</span>
                <ul>
                    <li>resultCode - result code</li>
                </ul>

                <span class="badge badge-ttl">Remark</span>
                <ul>
                    <li>Failure or cancellation at any stage indicates the failure of whole login flow.</li>
                    <li>Only success of game server login indicates the success of whole login flow.</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <!--<span class="badge badge-ttl">WebView 頁面</span>
                <a href="<%= " assets/img/" + lang + "/pic07.png" %>" data-toggle="lightbox">
                <img src="<%= " assets/img/" + lang + "/pic07.png" %>" class="img-responsive"/>
                </a>-->
            </div>
        </div>
    </section>

    <section id="Logout">
        <h1>Logout</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">Method</span>
                <p><pre>void Logout()</pre></p>

                <span class="badge badge-ttl">Remark</span>
                <ul>
                    <li>Start game server logout, followed by channel logout.</li>
                    <li>As long as game server logout succeeded, the whole logout flow is considered as finished regardless of the result of channel logout.</li>
                    <li>The logout result is notified via OnLogout.</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <!--<span class="badge badge-ttl">WebView 頁面</span>
                <a href="<%= " assets/img/" + lang + "/pic07.png" %>" data-toggle="lightbox">
                <img src="<%= " assets/img/" + lang + "/pic07.png" %>" class="img-responsive"/>
                </a>-->
            </div>
        </div>
    </section>

    <section id="LogoutCallback">
        <h1>Logout Callback</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">Method</span>
                <p><pre>void OnLogout(SGUResult result)</pre></p>

                <span class="badge badge-ttl">Parameters</span>
                <ul>
                    <li>result - result code</li>
                </ul>

                <span class="badge badge-ttl">Remark</span>
                <ul>
                    <li>The result of logout flow is notified to caller via this callback.</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <!--<span class="badge badge-ttl">WebView 頁面</span>
                <a href="<%= " assets/img/" + lang + "/pic07.png" %>" data-toggle="lightbox">
                <img src="<%= " assets/img/" + lang + "/pic07.png" %>" class="img-responsive"/>
                </a>-->
            </div>
        </div>
    </section>

    <section id="Exit">
        <h1>Exit</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">Method</span>
                <p><pre>void Exit(bool silent)</pre></p>

                <span class="badge badge-ttl">Parameters</span>
                <ul>
                    <li>silent - true：do not show confirmation screen，false：show confirmation screen</li>
                </ul>

                <span class="badge badge-ttl">Remark</span>
                <ul>
                    <li>Exit application.</li>
                    <li>You please show your own confirmation screen and call Exit(false) if user selects to exit.</li>
                </ul>

            </div>
            <div class="col-sm-3">
                <!--<span class="badge badge-ttl">WebView 頁面</span>
                <a href="<%= " assets/img/" + lang + "/pic07.png" %>" data-toggle="lightbox">
                <img src="<%= " assets/img/" + lang + "/pic07.png" %>" class="img-responsive"/>
                </a>-->
            </div>
        </div>
    </section>

</div>
