<div class="left-side" id="myScrollspy">

    <ul class="nav nav-pills">
        <li><a href="#section1">User System</a></li>
        <li><a href="#section2">Signup</a></li>
        <li><a href="#section3">Login</a></li>
        <li><a href="#section4">Forgot Password</a></li>
        <li><a href="#section5">Change Password</a></li>
        <li><a href="#section6">Parental Lock</a></li>
        <li><a href="#section7">My Kid</a></li>
        <li><a href="#section8">Select Kid</a></li>
        <li><a href="#section9">My Account</a></li>
        <li><a href="#section10">Get Open ID</a></li>
        <li><a href="#section11">Login By Token</a></li>
        <li><a href="#section12">Verify Session ID</a></li>
        <li><a href="#section13">Logout</a></li>
    </ul>

</div>

<div class="right-side">
    <section id="section1">
        <h1>User System</h1>
        <p>
            User system is used to manage SG users, including signup, login and kids (family members ) management, etc. Most of the functions use web pages control as part of the process flow. To handle response of these functions, you need to register a listener in your <b>WebView</b> event inside an App.
        </p>
    </section>

    <section id="section2">
        <h1>Signup</h1>

        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">API</span>
                <pre> <span class="label label-warning">GET</span> /signup</pre>

                <span class="badge badge-ttl">Description</span>
                <p>After signning up, system logs user in automatically.</p>

                <span class="badge badge-ttl">Example</span>
                <pre>http://gameapi.smartgamesltd.com/signup</pre>

                <span class="badge badge-ttl">Response</span>
                <ul>
                    <li>In <b>WebView</b> page load finished event, you can get the JSON result by parsing Javascript function <code>GetResult()</code>.</li>
                    <li>Return JSON string of <a href="/webapi-init#SGMember">SGMember</a>.</li>
                    <li>
                        Please refer to 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
                    </li>                    
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">WebPage</span>
                <a href="<%= "assets/img/" + lang + "/pic08.png" %>" data-toggle="lightbox">
                    <img src="<%= "assets/img/" + lang + "/pic08.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="section3">
        <h1>Login</h1>

        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">API</span>
                <pre> <span class="label label-warning">GET</span> /login</pre>

                <span class="badge badge-ttl">Description</span>
                <p>Login page.</p>

                <span class="badge badge-ttl">Example</span>
                <pre>http://gameapi.smartgamesltd.com/login</pre>

                <span class="badge badge-ttl">Response</span>
                <ul>
                    <li>In <b>WebView</b> page load finished event, you can get the JSON result by parsing Javascript function <code>GetResult()</code>.</li>
                    <li>Return JSON string of <a href="/webapi-init#SGMember">SGMember</a>.</li>
                    <li>
                        Please refer to 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">WebPage</span>
                <a href="<%= "assets/img/" + lang + "/pic07.png" %>" data-toggle="lightbox">
                    <img src="<%= "assets/img/" + lang + "/pic07.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="section4">
        <h1>Forgot Password</h1>

        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">API</span>
                <pre> <span class="label label-warning">GET</span> /forgot-password</pre>

                <span class="badge badge-ttl">Description</span>
                <p>Forget password page.</p>

                <span class="badge badge-ttl">Example</span>
                <pre>http://gameapi.smartgamesltd.com/forgot-password</pre>

                <span class="badge badge-ttl">Response</span>
                <ul>
                    <li>In <b>WebView</b> page load finished event, you can get the JSON result by parsing Javascript function <code>GetResult()</code>.</li>
                    <li>
                        Please refer to 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">WebPage</span>
                <a href="<%= "assets/img/" + lang + "/pic09.png" %>" data-toggle="lightbox">
                    <img src="<%= "assets/img/" + lang + "/pic09.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="section5">
        <h1>Change Password</h1>

        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">API</span>
                <pre> <span class="label label-warning">GET</span> /change-password</pre>

                <span class="badge badge-ttl">Description</span>
                <p>Change password page.</p>

                <span class="badge badge-ttl">Example</span>
                <pre>http://gameapi.smartgamesltd.com/change-password</pre>

                <span class="badge badge-ttl">Response</span>
                <ul>
                    <li>In <b>WebView</b> page load finished event, you can get the JSON result by parsing Javascript function <code>GetResult()</code>.</li>
                    <li>
                        Please refer to 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">WebPage</span>
                <a href="<%= "assets/img/" + lang + "/pic10.png" %>" data-toggle="lightbox">
                    <img src="<%= "assets/img/" + lang + "/pic10.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="section6">
        <h1>Parental Lock</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">API</span>
                <pre> <span class="label label-warning">GET</span> /parental-lock</pre>

                <span class="badge badge-ttl">Description</span>
                <p>You can use parental lock utility view before important actions.</p>

                <span class="badge badge-ttl">Example</span>
                <pre>http://gameapi.smartgamesltd.com/parental-lock</pre>

                <span class="badge badge-ttl">Response</span>
                <ul>
                    <li>After successfully enter the code, it redirects to [My Account] page.</li>
                    <li>If the user haven't created any kid (family member), , it redirects to [My Kid] page. </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">WebPage</span>
                <a href="<%= " assets/img/" + lang + "/pic11.png" %>" data-toggle="lightbox">
                <img src="<%= " assets/img/" + lang + "/pic11.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="section7">
        <h1>My Kid</h1>

        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">API</span>
                <pre> <span class="label label-warning">GET</span> /my-kid</pre>

                <span class="badge badge-ttl">Description</span>
                <p>The flow is for creating new kid (family member) of the user.</p>

                <span class="badge badge-ttl">Example</span>
                <pre>http://gameapi.smartgamesltd.com/my-kid</pre>

                <span class="badge badge-ttl">Response</span>
                <ul>
                    <li>In <b>WebView</b> page load finished event, you can get the JSON result by parsing Javascript function <code>GetResult()</code>.</li>
                    <li>
                        Please refer to 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">WebPage</span>
                <a href="<%= "assets/img/" + lang + "/pic12.png" %>" data-toggle="lightbox">
                    <img src="<%= "assets/img/" + lang + "/pic12.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="section8">
        <h1>Select Kid</h1>

        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">API</span>
                <pre> <span class="label label-warning">GET</span> /select-kid</pre>

                <span class="badge badge-ttl">Description</span>
                <p>The flow is used to select a kid to play.</p>

                <span class="badge badge-ttl">Example</span>
                <pre>http://gameapi.smartgamesltd.com/select-kid</pre>

                <span class="badge badge-ttl">Response</span>
                <ul>
                    <li>In <b>WebView</b> page load finished event, you can get the JSON result by parsing Javascript function <code>GetResult()</code>.</li>
                    <li>
                        Please refer to 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">WebPage</span>
                <a href="<%= "assets/img/" + lang + "/pic14.png" %>" data-toggle="lightbox">
                    <img src="<%= "assets/img/" + lang + "/pic14.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="section9">
        <h1>My Account</h1>

        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">API</span>
                <pre> <span class="label label-warning">GET</span> /my-account</pre>

                <span class="badge badge-ttl">Description</span>
                <p>My account main entry page.</p>

                <span class="badge badge-ttl">Example</span>
                <pre>http://gameapi.smartgamesltd.com/my-account</pre>

                <!--<span class="badge badge-ttl">Response</span>
                <p>返回帳號資訊頁面。</p>-->
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">WebPage</span>
                <a href="<%= "assets/img/" + lang + "/pic13.png" %>" data-toggle="lightbox">
                    <img src="<%= "assets/img/" + lang + "/pic13.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="section10">
        <h1>Get Open ID</h1>

        <div class="row">
            <span class="badge badge-ttl">API</span>
            <pre> <span class="label label-warning">GET</span> /openid</pre>

            <span class="badge badge-ttl">Description</span>
            <p>Obtain Open ID (SG ID) after user login.</p>

            <span class="badge badge-ttl">Example</span>
            <pre>http://gameapi.smartgamesltd.com/openid</pre>

            <span class="badge badge-ttl">Response</span>
            <ul>
                <li>Return JSON string of <code>{"OpenID": 100001}</code>.</li>
            </ul>
        </div>
    </section>

    <section id="section11">
        <h1>Login By Token</h1>

        <div class="row">
            <span class="badge badge-ttl">API</span>
            <pre> <span class="label label-warning">GET</span> <span class="label label-success">POST</span> /loginbytoken</pre>

            <span class="badge badge-ttl">Description</span>
            <p>Login into the system by previously saved token.</p>

            <span class="badge badge-ttl">Example</span>
            <pre>http://gameapi.smartgamesltd.com/loginbytoken?token=my_token</pre>

            <span class="badge badge-ttl">Parameters</span>
            <ul>
                <li>
                    Previous saved token.
                </li>
            </ul>

            <span class="badge badge-ttl">Response</span>
            <ul>
                <li>In <b>WebView</b> page load finished event, you can get the JSON result by parsing Javascript function <code>GetResult()</code>.</li>
                <li>Return JSON string of <a href="/webapi-init#SGMember">SGMember</a>.</li>
                <li>
                    Please refer to 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
                </li>
            </ul>
        </div>
    </section>

    <section id="section12">
        <h1>Verify Session ID</h1>

        <div class="row">
            <span class="badge badge-ttl">API</span>
            <pre> <span class="label label-warning">GET</span> <span class="label label-success">POST</span> /verifysession</pre>

            <span class="badge badge-ttl">Description</span>
            <p>Verify if current session ID is valid. </p>

            <span class="badge badge-ttl">Example</span>
            <pre>http://gameapi.smartgamesltd.com/verifysession?gamekey=my_gamekey&sessionid=my_sessionid&openid=my_openid&sign=my_sign</pre>

            <span class="badge badge-ttl">Parameters</span>
            <table class="table table-striped">
                <tr>
                    <td>gameKey</td>
                    <td>Your developer identification.</td>
                </tr>
                <tr>
                    <td>sessionId</td>
                    <td>
                        Current session ID.<br />
                        You can obtain it after login.
                    </td>
                </tr>
                <tr>
                    <td>openId</td>
                    <td>
                        SG member ID. <br />
                        You can obtain it after login.
                    </td>
                </tr>
                <tr>
                    <td>sign</td>
                    <td>
                        Signature generated from above three parameters.<br />
                        Please refer to <a href="/server-sign#section2">signature algorithm</a>.
                    </td>
                </tr>
            </table>

            <span class="badge badge-ttl">Response</span>
            <ul>
                <li>In <b>WebView</b> page load finished event, you can get the JSON result by parsing Javascript function <code>GetResult()</code>.</li>
                <li>Return JSON string of <a href="/webapi-init#SGMember">SGMember</a>.</li>
                <li>
                    Please refer to 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
                </li>
            </ul>
        </div>
    </section>

    <section id="section13">
        <h1>Logout</h1>

        <div class="row">
            <span class="badge badge-ttl">API</span>
            <pre> <span class="label label-warning">GET</span> /logout</pre>

            <span class="badge badge-ttl">Description</span>
            <p>Log user out.</p>

            <span class="badge badge-ttl">Example</span>
            <pre>http://gameapi.smartgamesltd.com/logout</pre>

            <span class="badge badge-ttl">Response</span>
            <ul>
                <li>
                    Please refer to 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
                </li>
            </ul>
        </div>
    </section>
</div>