<div class="left-side" id="myScrollspy">

    <ul class="nav nav-pills">
        <li><a href="#section1">Web API Introduction</a></li>
        <li><a href="#section2">API Host</a></li>
        <li><a href="#section3">Initialization</a></li>
        <li><a href="#section4">App WebView Control</a></li>
        <li><a href="#section5">Response Codes</a></li>
        <li><a href="#section6">Response Data Objects</a></li>
    </ul>

</div>

<div class="right-side">
    <section id="section1">
        <h1>Web API Introduction</h1>
        <p>Developers can use different functions by calling Web SDK when get into SG Game SDK. This document details the whole process of how to get into the client. It's important for you to read through and understand the document before starting development.</p>
    </section>

    <section id="section2">
        <h1>API Host</h1>
        <p>API Host URL:
            <a target="_blank" href="http://gameapi.smartgamesltd.com/">http://gameapi.smartgamesltd.com/</a>.
        </p>
    </section>

    <section id="section3">
        <h1>Initialization</h1>

        <span class="badge badge-ttl">API</span>
        <pre><span class="label label-warning">GET</span> <span class="label label-success">POST</span> /init </pre>

        <span class="badge badge-ttl">Description</span>
        <p>
            You need to call <code>init</code> function once before any other functions.
        </p>

        <span class="badge badge-ttl">Example</span>
        <pre>http://gameapi.smartgamesltd.com/init?gamekey=my_gamekey&appsecret=my_appsecret&channel=my_channel</pre>

        <span class="badge badge-ttl">Parameters</span>
        <table class="table table-striped">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>
                        gamekey
                    </td>
                    <td>
                        Your developer identification.
                        You can obtain it through <a target="_blank" href="http://dashboard.smartgamesltd.com">SG Developer</a> console.
                    </td>
                </tr>
                <tr>
                    <td>
                        appsecret
                    </td>
                    <td>
                        You can obtain it through <a target="_blank" href="http://dashboard.smartgamesltd.com">SG Developer</a> console.
                    </td>
                </tr>
                <tr>
                    <td>
                        channel
                    </td>
                    <td>
                        The channel of your App. (<a href="/channel">Please refer to Channel List table</a>)
                    </td>
                </tr>

            </tbody>
        </table>

        <span class="badge badge-ttl">Response</span>
        <ul>
            <li>
                All response is in JSON format.
                Ex: <code>{"Code": 101, "Message": "ok"} </code>.
            </li>
            <li>
                Please refer to 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
            </li>
        </ul>
    </section>

    <section id="section4">
        <h1>App WebView Control</h1>
        <p>Some API functions don't return data directly, instead they launch web pages.  When developing app with these functions, follow the steps below to get the result data.</p>

        <h3>1.Get result data from webpages</h3>
        <ul>
        <li>In page load finished event, you can get the JSON result by parsing Javascript function <code>GetResult()</code>.</li>
        <!--<li>開發者可在 <a target="_blank" href="http://dashboard.smartgamesltd.com/my-game">SG Developer</a> 取得接入參數。</li>-->
        </ul>
        <!--<div class="well well-sm">
            <img src=<%= "assets/img/" + lang + "/pic06.png"%> class="img-responsive"/>
        </div>-->
        <br/>

        <h3>2. Set cookie in request header in consecutive calls</h3>
        <ul>
            <li>
                When you call <code>init</code> function, beside normal response result, it will return a [Set-Cookie] value in response header.
                you need to save the cookie value and pass it in in consecutive API calls.
            </li>
            <li><code>webViewCookie.put("Cookie", response.headers.get("Set-Cookie"));</code></li>
        </ul>
    </section>

    <section id="section5">
        <h1>Response Codes</h1>
        <p>
            All response is in JSON format. Ex: <code>{"Code": 101, "Message": "ok"} </code>.
        </p>

        <table class="table">
            <!--Gem Start-->
            <thead>
                <tr>
                    <th>
                        API
                    </th>
                    <th>
                        Code
                    </th>
                    <th>
                        Message
                    </th>
                </tr>
            </thead>
            <tbody>
                <% for (var i = 0; i < ResultCode.length; i++) { %>
                <tr class="<%=ResultCode[i].class%>">
                    <td>
                        <%=ResultCode[i].api%>
                    </td>
                    <td>
                        <%=ResultCode[i].code%>
                    </td>
                    <td>
                        <%=ResultCode[i].msg%>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </section>

    <section id="section6">
        <h1>Response Data Objects</h1>
        <p>
            Here are the response objects used in SGSDK.  Please follow the pascal case definition.
        </p>
        <section id="SGListenerResult">
            <h3>1.SGListenerResult</h3>
            <ul>
                <li>Response object for SGLisnter</li>
                <table class="table table-striped">
                    <tr>
                        <th>property</th>
                        <th>type</th>
                        <th>desciption</th>
                    </tr>
                    <tr>
                        <td>Code</td>
                        <td>integer</td>
                        <td>Return code.</td>
                    </tr>
                    <tr>
                        <td>Message</td>
                        <td>string</td>
                        <td>Return message.</td>
                    </tr>
                    <tr>
                        <td>Data</td>
                        <td>class</td>
                        <td>
                            Return data.<br />
                            Based on different situation, data might be NULL or an object.
                        </td>
                    </tr>
                </table>
            </ul>
        </section>

        <section id="SGMember">
            <h3>2.SGMember</h3>
            <ul>
                <li>SG member data structure.</li>
                <table class="table table-striped">
                    <tr>
                        <th>property</th>
                        <th>type</th>
                        <th>desciption</th>
                    </tr>
                    <tr>
                        <td>Account</td>
                        <td>string</td>
                        <td>SG Member account name.</td>
                    </tr>
                    <tr>
                        <td>OpenID</td>
                        <td>string</td>
                        <td>SG member ID.</td>
                    </tr>
                    <tr>
                        <td>Token</td>
                        <td>string</td>
                        <td>Token of the after login, expired in 7 days.</td>
                    </tr>
                    <tr>
                        <td>CreateTime</td>
                        <td>DateTime</td>
                        <td>Created time.</td>
                    </tr>
                    <tr>
                        <td>LoginTime</td>
                        <td>DateTime</td>
                        <td>Last login time.</td>
                    </tr>
                    <tr>
                        <td>Language</td>
                        <td>string</td>
                        <td>Language setting of the device.</td>
                    </tr>
                    <tr>
                        <td>Channel</td>
                        <td>string</td>
                        <td>App release <a href="/channel">channel</a>.</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>string</td>
                        <td>
                            Phone number.
                        </td>
                    </tr>
                    <tr>
                        <td>EMail</td>
                        <td>string</td>
                        <td>
                            Email.
                        </td>
                    </tr>
                    <tr>
                        <td>SessionID</td>
                        <td>string</td>
                        <td>
                            Session ID of the after login
                        </td>
                    </tr>
                    <tr>
                        <td>KidIndex</td>
                        <td>integer</td>
                        <td>Index of current selected kid.</td>
                    </tr>
                    <tr>
                        <td>KidFace</td>
                        <td>string</td>
                        <td>Face icon of current selected kid.</td>
                    </tr>
                    <tr>
                        <td>Children</td>
                        <td><a href="#SGChild">SGChild</a></td>
                        <td>Kids of the member.</td>
                    </tr>
                </table>
            </ul>
        </section>

        <section id="SGChild">
            <h3>3.SGChild</h3>
            <ul>
                <li>SGChild data structure.</li>
                <table class="table table-striped">
                    <tr>
                        <th>property</th>
                        <th>type</th>
                        <th>desciption</th>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>string</td>
                        <td>Name.</td>
                    </tr>
                    <tr>
                        <td>Sex</td>
                        <td>string</td>
                        <td>Sex.</td>
                    </tr>
                    <tr>
                        <td>Face</td>
                        <td>string</td>
                        <td>Face icon.</td>
                    </tr>
                    <tr>
                        <td>Birthday</td>
                        <td>string</td>
                        <td>Birthday.</td>
                    </tr>
                </table>
            </ul>
        </section>

        <section id="SGPayRequest">
            <h3>4.SGPayRequest</h3>
            <ul>
                <li>Parameter data structure of <code>pay</code> function.</li>
                <table class="table table-striped">
                    <tr>
                        <th>property</th>
                        <th>type</th>
                        <th>required</th>
                        <th>desciption</th>
                    </tr>
                    <tr>
                        <td>ProductID</td>
                        <td>string</td>
                        <td><i class="fa fa-check"></i></td>
                        <td>Google Play or iTunes Connect product ID.</td>
                    </tr>
                    <tr>
                        <td>ProductName</td>
                        <td>string</td>
                        <td><i class="fa fa-check"></i></td>
                        <td>Product name.</td>
                    </tr>
                    <tr>
                        <td>ProductDesc</td>
                        <td>string</td>
                        <td></td>
                        <td>Product deceiption.</td>
                    </tr>
                    <tr>
                        <td>PaymentMethod</td>
                        <td>string</td>
                        <td></td>
                        <td>
                            Payment method.<br />
                            <p>
                                It's required when using Google IAP:
                                <span class="label label-primary">managed</span>
                                <span class="label label-primary">subscription</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>PaymentChannel</td>
                        <td>string</td>
                        <td><i class="fa fa-check"></i></td>
                        <td>
                            Payment channel. <br />
                            Ex: 
                            <span class="label label-primary">AppStore</span>
                            <span class="label label-primary">GooglePay</span>
                            <span class="label label-primary">WeChat</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>float</td>
                        <td><i class="fa fa-check"></i></td>
                        <td>Product price (USD). </td>
                    </tr>
                    <tr>
                        <td>ServerID</td>
                        <td>string</td>
                        <td></td>
                        <td>Server ID.</td>
                    </tr>
                    <tr>
                        <td>ServerName</td>
                        <td>string</td>
                        <td></td>
                        <td>Server Name.</td>
                    </tr>
                    <tr>
                        <td>RoleID</td>
                        <td>string</td>
                        <td></td>
                        <td>Role ID.</td>
                    </tr>
                    <tr>
                        <td>RoleName</td>
                        <td>string</td>
                        <td></td>
                        <td>Role name.</td>
                    </tr>
                    <tr>
                        <td>RoleLevel</td>
                        <td>integer</td>
                        <td></td>
                        <td>Role level.</td>
                    </tr>
                    <tr>
                        <td>NotifyUrl</td>
                        <td>string</td>
                        <td></td>
                        <td>
                            Notify URL.<br />
                            After payment, SG server notifies the URL to release the products。
                        </td>
                    </tr>
                    <tr>
                        <td>OrderID</td>
                        <td>string</td>
                        <td></td>
                        <td>Order ID.</td>
                    </tr>
                    <tr>
                        <td>Receipt</td>
                        <td>string</td>
                        <td></td>
                        <td>IAP vender receipt.</td>
                    </tr>
                </table>
            </ul>
        </section>

        <section id="SGPayResponse">
            <h3>5.SGPayResponse</h3>
            <ul>
                <li>Response data structure of <code>pay</code> function.</li>
                <table class="table table-striped">
                    <tr>
                        <th>property</th>
                        <th>type</th>
                        <th>desciption</th>
                    </tr>
                    <tr>
                        <td>Code</td>
                        <td>integer</td>
                        <td>Response code.</td>
                    </tr>
                    <tr>
                        <td>Message</td>
                        <td>string</td>
                        <td>Response message.</td>
                    </tr>
                    <tr>
                        <td>Sign</td>
                        <td>string</td>
                        <td>Signature generated by SG server.</td>
                    </tr>
                    <tr>
                        <td>ProductID</td>
                        <td>string</td>
                        <td>Google Play or iTunes Connect product ID.</td>
                    </tr>
                    <tr>
                        <td>ProductName</td>
                        <td>string</td>
                        <td>Product name.</td>
                    </tr>
                    <tr>
                        <td>ProductDesc</td>
                        <td>string</td>
                        <td>Product deceiption.</td>
                    </tr>
                    <tr>
                        <td>PaymentMethod</td>
                        <td>string</td>
                        <td>
                            Payment method.<br />
                            <p>
                                <span class="label label-primary">managed</span>
                                <span class="label label-primary">subscription</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>PaymentChannel</td>
                        <td>string</td>
                        <td>
                            Payment channel. <br />
                            Ex:
                            <span class="label label-primary">AppStore</span>
                            <span class="label label-primary">GooglePay</span>
                            <span class="label label-primary">WeChat</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>float</td>
                        <td>Product price. </td>
                    </tr>
                    <tr>
                        <td>Currency</td>
                        <td>string</td>
                        <td>Currency. Default is USD.</td>
                    </tr>
                    <tr>
                        <td>ServerID</td>
                        <td>string</td>
                        <td>Server ID.</td>
                    </tr>
                    <tr>
                        <td>ServerName</td>
                        <td>string</td>
                        <td>Server Name.</td>
                    </tr>
                    <tr>
                        <td>RoleID</td>
                        <td>string</td>
                        <td>Role ID.</td>
                    </tr>
                    <tr>
                        <td>RoleName</td>
                        <td>string</td>
                        <td>Role name.</td>
                    </tr>
                    <tr>
                        <td>RoleLevel</td>
                        <td>integer</td>
                        <td>Role level.</td>
                    </tr>
                    <tr>
                        <td>OrderID</td>
                        <td>string</td>
                        <td>Order ID.</td>
                    </tr>
                    <tr>
                        <td>Receipt</td>
                        <td>string</td>
                        <td>IAP vender receipt.</td>
                    </tr>
                </table>
            </ul>
        </section>
    </section>
</div>