<style type="text/css">
    img {
        box-shadow:3px 3px 12px;
        padding:3px;
    }
</style>

<div class="left-side" id="myScrollspy">
    <ul class="nav nav-pills">
        <li><a href="#MemberSystem">用戶系統</a></li>
        <li><a href="#Signup">創帳號</a></li>
        <li><a href="#Login">登入</a></li>
        <li><a href="#ForgotPassword">查詢密碼</a></li>
        <li><a href="#ChangePassword">變更密碼</a></li>
        <li><a href="#ParentalLock">家長安全操作</a></li>
        <li><a href="#MyKid">設置孩童資料</a></li>
        <li><a href="#SelectKid">設定正在進行遊戲的孩童</a></li>
        <li><a href="#MyAccount">帳號資訊</a></li>
        <li><a href="#VerifySession">Session ID 登入驗證</a></li>
        <li><a href="#LoginByToken">Token 快速登入</a></li>
        <li><a href="#OtherFunction">取值函式</a></li>
        <li><a href="#FloatingButton">懸浮按鈕函式</a></li>
        <li><a href="#Logout">登出</a></li>
    </ul>
</div>
<div class="right-side">
    <section id="MemberSystem">
        <h1>用戶系統</h1>
        <p>透過 SGSDK 調用各個函式，例如創帳號，登入等等。某些函式調用後需要接收回傳值。客戶端再依據收到的回傳值進行對應處理。</p>
    </section>


    <section id="Signup">
        <h1>創帳號</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">函式</span>
                <p><pre>void signup()</pre></p>

                <span class="badge badge-ttl">説明</span>
                <ul><li>調用註冊頁面，註冊成功等同登入然後關閉 WebView。</li></ul>

                <span class="badge badge-ttl">回傳</span>
                <ul>
                    <li>請參看【<a href="/java-init#listener">回調監聽</a>】的設定，以及回傳的代碼與定義<a href="/webapi-init#section5">對照表</a>。</li>
                    <li>回調監聽的 Data 參數：<a href="/webapi-init#SGMember">SGMember</a>。</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">Android 介面</span>
                <a href="<%= " assets/img/" + lang + "/android_signup.png" %>" data-toggle="lightbox">
                    <img src="<%= " assets/img/" + lang + "/android_signup.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="Login">
        <h1>登入</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">函式</span>
                <p><pre>void login()</pre></p>

                <span class="badge badge-ttl">説明</span>
                <ul>
                    <li>調用登入頁面，登入成功後關閉 WebView。</li>
                    <li>登入成功後，自動顯示<a href="#FloatingButton">懸浮按鈕</a>。</li>
                </ul>

                <span class="badge badge-ttl">回傳</span>
                <ul>
                    <li>請參看【<a href="/java-init#listener">回調監聽</a>】的設定，以及回傳的代碼與定義<a href="/webapi-init#section5">對照表</a>。</li>
                    <li>回調監聽的 Data 參數：<a href="/webapi-init#SGMember">SGMember</a>。</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">Android 介面</span>
                <a href="<%= " assets/img/" + lang + "/android_login.png" %>" data-toggle="lightbox">
                    <img src="<%= " assets/img/" + lang + "/android_login.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="ForgotPassword">
        <h1>查詢密碼</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">函式</span>
                <p><pre>void forgetPassword()</pre></p>

                <span class="badge badge-ttl">説明</span>
                <ul><li>調用找回密碼頁面進行重設密碼。</li></ul>

                <span class="badge badge-ttl">回傳</span>
                <ul>
                    <li>請參看【<a href="/java-init#listener">回調監聽</a>】的設定，以及回傳的代碼與定義<a href="/webapi-init#section5">對照表</a>。</li>
                    <li>回調監聽的 Data 參數：無。</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">Android 介面</span>
                <a href="<%= " assets/img/" + lang + "/android_forgetpw.png" %>" data-toggle="lightbox">
                    <img src="<%= " assets/img/" + lang + "/android_forgetpw.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="ChangePassword">
        <h1>變更密碼</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">函式</span>
                <p><pre>void changePassword()</pre></p>

                <span class="badge badge-ttl">説明</span>
                <ul><li>調用變更密碼頁面。</li></ul>

                <span class="badge badge-ttl">回傳</span>
                <ul>
                    <li>請參看【<a href="/java-init#listener">回調監聽</a>】的設定，以及回傳的代碼與定義<a href="/webapi-init#section5">對照表</a>。</li>
                    <li>回調監聽的 Data 參數：無。</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">Android 介面</span>
                <a href="<%= " assets/img/" + lang + "/android_changepw.png" %>" data-toggle="lightbox">
                    <img src="<%= " assets/img/" + lang + "/android_changepw.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="ParentalLock">
        <h1>家長安全操作</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">函式</span>
                <p><pre>void parentalLock()</pre></p>

                <span class="badge badge-ttl">説明</span>
                <ul>
                    <li>在呼叫帳號設置前需要先呼叫家長安全操作頁面以防孩童誤擊重要功能。</li>
                    <li>正確輸入安全碼後會自動轉跳至 my-account 頁面。若尚未建立任何孩童資料則會轉跳至 my-kid 頁面。</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">Android 介面</span>
                <a href="<%= " assets/img/" + lang + "/android_parentallock.png" %>" data-toggle="lightbox">
                    <img src="<%= " assets/img/" + lang + "/android_parentallock.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="MyKid">
        <h1>設置孩童資料</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">函式</span>
                <p><pre>void myKid()</pre></p>

                <span class="badge badge-ttl">説明</span>
                <ul>
                    <li>調用新增孩童資料頁面。</li>
                </ul>

                <span class="badge badge-ttl">回傳</span>
                <ul>
                    <li>請參看【<a href="/java-init#listener">回調監聽</a>】的設定，以及回傳的代碼與定義<a href="/webapi-init#section5">對照表</a>。</li>
                    <li>回調監聽的 Data 參數：<a href="/webapi-init#SGMember">SGMember</a>。</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">Android 介面</span>
                <a href="<%= " assets/img/" + lang + "/android_mykid.png" %>" data-toggle="lightbox">
                    <img src="<%= " assets/img/" + lang + "/android_mykid.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="SelectKid">
        <h1>設定正在進行遊戲的孩童</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">函式</span>
                <p><pre>void selectKid()</pre></p>

                <span class="badge badge-ttl">説明</span>
                <ul>
                    <li>調用孩童列表頁面，家長可以標記一名正在進行遊戲的孩童。</li>
                    <li>選擇成功後可以調用 <a href="#GetKidIndex">GetKidIndex()</a> 和 <a href="#GetKidFace">GetKidFace()</a> 取得該孩童的索引和頭圖</li>
                </ul>

                <span class="badge badge-ttl">回傳</span>
                <ul>
                    <li>請參看【<a href="/java-init#listener">回調監聽</a>】的設定，以及回傳的代碼與定義<a href="/webapi-init#section5">對照表</a>。</li>
                    <li>回調監聽的 Data 參數：無。</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">Android 介面</span>
                <a href="<%= " assets/img/" + lang + "/android_selectkid.png" %>" data-toggle="lightbox">
                    <img src="<%= " assets/img/" + lang + "/android_selectkid.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="MyAccount">
        <h1>帳號資訊</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">函式</span>
                <p><pre>void myAccount()</pre></p>

                <span class="badge badge-ttl">説明</span>
                <ul>
                    <li>調用帳號總覽頁面，以瀏覽孩童遊戲紀錄。</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <span class="badge badge-ttl">Android 介面</span>
                <a href="<%= " assets/img/" + lang + "/android_account.png" %>" data-toggle="lightbox">
                    <img src="<%= " assets/img/" + lang + "/android_account.png" %>" class="img-responsive"/>
                </a>
            </div>
        </div>
    </section>

    <section id="VerifySession">
        <h1>Session ID 登入驗證</h1>
        <span class="badge badge-ttl">函式</span>
        <p><pre>verifySession(String gameKey, String sessionId, String openId, Stirng sign)</pre></p>

        <span class="badge badge-ttl">説明</span>
        <ul>
            <li>使用 SessionID 取得登入帳號資訊。</li>
        </ul>

        <span class="badge badge-ttl">參數</span>
        <table class="table table-striped">
            <tr>
                <th>參數名稱</th>
                <th>描述</th>
            </tr>
            <tr>
                <td>gameKey</td>
                <td>Game key</td>
            </tr>
            <tr>
                <td>openId</td>
                <td>Login 後可用 <a href="#GetOpenID">GetOpenID()</a> 取得。</td>
            </tr>
            <tr>
                <td>sessionId</td>
                <td>Login 後可用 <a href="#GetSessionID">GetSessionID()</a> 取得。</td>
            </tr>
            <tr>
                <td>sign</td>
                <td>以參數 gamekey, openid, sessionid 製作簽名字串。詳見 <a href="/server-sign#section2">簽名演算法</a>。</td>
            </tr>
        </table>

        <span class="badge badge-ttl">回傳</span>
        <p>
        <ul>
            <li>請參看【<a href="/java-init#listener">回調監聽</a>】的設定，以及回傳的代碼與定義<a href="/webapi-init#section5">對照表</a>。</li>
            <li>回調監聽的 Data 參數：無。</li>
        </ul>
        </p>
    </section>

    <section id="LoginByToken">
        <h1>Token 快速登入</h1>
        <span class="badge badge-ttl">函式</span>
        <p><pre>void loginByToken(String token)</pre></p>

        <span class="badge badge-ttl">説明</span>
        <ul><li>使用 Token 快速登入。</li></ul>

        <span class="badge badge-ttl">參數</span>
        <ul>
            <li>token: 用來登入用。</li>
        </ul>

        <span class="badge badge-ttl">回傳</span>
        <ul>
            <li>請參看【<a href="/java-init#listener">回調監聽</a>】的設定，以及回傳的代碼與定義<a href="/webapi-init#section5">對照表</a>。</li>
            <li>回調監聽的 Data 參數：<a href="/webapi-init#SGMember">SGMember</a>。</li>
        </ul>
    </section>

    <section id="OtherFunction">
        <h1>取值函式</h1>

        <section id="GetOpenID">
            <h3>1.取得用戶 Open ID</h3>
            <span class="badge badge-ttl">函式</span>
            <p><pre>String getOpenID()</pre></p>
            <span class="badge badge-ttl">説明</span>
            <ul><li>取得用戶唯一識別 ID (SG ID)，登入後才可取得。</li></ul>
            <span class="badge badge-ttl">回傳</span>
            <ul><li>成功：Open ID，失敗：NULL。</li></ul>
            <br />
        </section>

        <section id="GetSessionID">
            <h3>2.取得 Session ID</h3>
            <span class="badge badge-ttl">函式</span>
            <p><pre>String getSessionID()</pre></p>
            <span class="badge badge-ttl">説明</span>
            <ul><li>取得 Session ID，登入後才可取得。</li></ul>
            <span class="badge badge-ttl">回傳</span>
            <ul><li>成功：Session ID，失敗：NULL。</li></ul>
            <br />
        </section>

        <section id="GetToken">
            <h3>3.取得 Token</h3>
            <span class="badge badge-ttl">函式</span>
            <p><pre>void getToken()</pre></p>
            <span class="badge badge-ttl">説明</span>
            <ul>
                <li>取得 Token，登入後才可取得。</li>
            </ul>
            <span class="badge badge-ttl">回傳</span>
            <ul><li>成功：Token，失敗：NULL。</li></ul>
            <br />
        </section>

        <section id="GetKidIndex">
            <h3>4.取得孩童索引</h3>
            <span class="badge badge-ttl">函式</span>
            <p><pre>int getKidIndex()</pre></p>
            <span class="badge badge-ttl">説明</span>
            <ul>
                <li>取得正在遊玩的孩童索引。</li>
                <li>
                    請注意：呼叫
                    <code>login</code>, <code>signup</code>, <code>selectKid</code>, <code>myKid</code>,
                    和 <code>loginByToken</code> 這些函式會變更孩童索引的值。
                </li>
            </ul>
            <span class="badge badge-ttl">回傳</span>
            <ul><li>成功：Value of kid index，失敗：NULL。</li></ul>
            <br />
        </section>

        <section id="GetKidFace">
            <h3>5.取得孩童頭像</h3>
            <span class="badge badge-ttl">函式</span>
            <p><pre>String getKidFace()</pre></p>
            <span class="badge badge-ttl">説明</span>
            <ul><li>取得正在遊玩的孩童頭像。</li></ul>
            <span class="badge badge-ttl">回傳</span>
            <ul><li>成功：Value of kid face，失敗：NULL。</li></ul>
            <br />
        </section>

        <section id="GetLoginState">
            <h3>6.取得登入狀態</h3>
            <span class="badge badge-ttl">函式</span>
            <p><pre>boolean isLogin()</pre></p>
            <span class="badge badge-ttl">説明</span>
            <ul><li>判斷是否為登入狀態。</li></ul>
            <span class="badge badge-ttl">回傳</span>
            <ul><li>登入：True，未登入：False。</li></ul>
            <br />
        </section>

        <section id="GetChannel">
            <h3>7.取得平台名稱</h3>
            <span class="badge badge-ttl">函式</span>
            <p><pre>String getChannelID()</pre></p>
            <span class="badge badge-ttl">説明</span>
            <ul><li>取得平台名稱。</li></ul>
            <span class="badge badge-ttl">回傳</span>
            <ul><li>平台名稱，例如：googleplay, appstore...。</li></ul>
            <br />
        </section>
    </section>

    <section id="FloatingButton">
        <h1>懸浮按鈕函式</h1>

        <h3>1.顯示懸浮按鈕</h3>
        <span class="badge badge-ttl">函式</span>
        <p><pre>void showWidget(EWidgetLocation location)</pre></p>

        <span class="badge badge-ttl">説明</span>
        <ul>
            <li>顯示懸浮按鈕，登入後自動顯示。</li>
            <li>點擊懸浮按鈕，會執行<a href="#MyAccount">帳號資訊</a>。</li>
        </ul>

        <span class="badge badge-ttl">參數</span>
        <p>Enum : EWidgetLocation</p>
        <table class="table table-striped">
            <tr>
                <th>Case</th>
                <th style="width:50%">狀態描述</th>
            </tr>
            <tr>
                <td>TopLeft</td>
                <td>左上角</td>
            </tr>
            <tr>
                <td>Top</td>
                <td>中間上方</td>
            </tr>
            <tr>
                <td>TopRight</td>
                <td>右上角</td>
            </tr>
            <tr>
                <td>Left</td>
                <td>中間左方</td>
            </tr>
            <tr>
                <td>Right</td>
                <td>中間右方</td>
            </tr>
            <tr>
                <td>BottomLeft</td>
                <td>左下角</td>
            </tr>
            <tr>
                <td>Bottom</td>
                <td>中間下方</td>
            </tr>
            <tr>
                <td>BottomRight</td>
                <td>右下角</td>
            </tr>
        </table>

        <br />

        <h3>2.隱藏懸浮按鈕</h3>
        <span class="badge badge-ttl">函式</span>
        <p><pre>void hideWidget()</pre></p>
        <span class="badge badge-ttl">説明</span>
        <ul><li>隱藏懸浮按鈕。</li></ul>
        <br />

        <h3>3.檢查懸浮按鈕狀態</h3>
        <span class="badge badge-ttl">函式</span>
        <p><pre>boolean isWidgetVisible()</pre></p>
        <span class="badge badge-ttl">説明</span>
        <ul><li>檢查懸浮按鈕狀態。</li></ul>
        <span class="badge badge-ttl">回傳</span>
        <ul><li>顯示：True，隱藏：False。</li></ul>
    </section>

    <section id="Logout">
        <h1>登出</h1>
        <span class="badge badge-ttl">函式</span>
        <p><pre>void logout()</pre></p>

        <span class="badge badge-ttl">説明</span>
        <ul>
            <li>帳號登出。</li>
            <li>登出成功後，自動隱藏<a href="#FloatingButton">懸浮按鈕</a>。</li>
        </ul>

        <span class="badge badge-ttl">回傳</span>
        <ul>
            <li>請參看【<a href="/java-init#listener">回調監聽</a>】的設定，以及回傳的代碼與定義<a href="/webapi-init#section5">對照表</a>。</li>
            <li>回調監聽的 Data 參數：無。</li>
        </ul>
    </section>


</div>
