<head>
    <style>
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="50">
<nav class="col-sm-3" id="myScrollspy">
    <ul class="nav nav-pills nav-stacked well" data-spy="affix" style="background-color: white">
        <li><a href="#section1">【Swift 3 用户系统接口】</a></li>
        <li><a href="#Signup">创帐号</a></li>
        <li><a href="#Login">登入</a></li>
        <li><a href="#ForgotPassword">查询密码</a></li>
        <li><a href="#ChangePassword">变更密码</a></li>
        <li><a href="#ParentalLock">家长安全操作</a></li>
        <li><a href="#MyKid">设置孩童资料</a></li>
        <li><a href="#MyAccount">帐号资讯</a></li>
        <li><a href="#VerifySession">Session ID 登入验证</a></li>
        <li><a href="#VerifyToken">Token 登入验证</a></li>
        <li><a href="#Logout">登出</a></li>
        <li><a href="#IsLogined">取得登入状态</a></li>
        <li><a href="#GetChannelID">取得平台ID</a></li>
        <li><a href="#ShowFloatingButton">显示悬浮按钮</a></li>
        <li><a href="#HideFloatingButton">隐藏悬浮按钮</a></li>
    </ul>
</nav>

<div class="col-sm-9">
    <div id="section1">
        <h1>【Swift 3 用户系统接口】</h1>
        <hr>
        <h4>透过 SgSDK 调用各个接口，例如创帐号，登入等等。某些接口调用后需要接收回传值。客户端再依据收到的回传值进行对应处理。</h4>
    </div>
    <br>
    <div id="Signup">
        <h1>创帐号</h1>
        <hr>
        接口名称：<code>Signup</code><br/>
        接口说明：注册成功等同登入然后关闭web view<br/>
        范例：
        <pre>SgSDK.Instance.Signup()</pre>
        <div class="well well-sm">
            <img src=<%= "assets/img/" + lang + "/pic08.png" %>>
        </div>
        返回值：<a href="/webapi-init#section5"> 查看回传值定义 </a>
    </div>
    <br>
    <div id="Login">
        <h1>登入</h1>
        <hr>
        接口名称：<code>Login</code><br/>
        接口说明：登入成功后关闭web view<br/>
        范例：
        <pre>SgSDK.Instance.Login()</pre>
        <div class="well well-sm">
            <img src=<%= "assets/img/" + lang + "/pic07.png" %>>
        </div>
        返回值：<a href="/webapi-init#section5"> 查看回传值定义 </a><br>
        <br>
        <h4>取得用户 Open ID</h4>
        <hr>
        接口名称：<code>GetOpenID</code><br/>
        接口说明：取得用户唯一识別 ID (SG ID)，以此 ID 登入游戏伺服器，登入后才可取得。<br/>
        范例：
        <% include ../code/swift-getOpenId.html %>
        返回值： 成功的话会得到一个Int?，失败的话会得到一个nil
        <br>
        <h4>取得Session ID</h4>
        <hr>
        接口名称：<code>GetSessionID</code><br/>
        接口说明：取得Session ID，登入后才可取得。<br/>
        范例：
        <% include ../code/swift-getSessionId.html %>
        返回值： 成功的话会得到一个String?，失败的话会得到一个nil
        <br>
        <h4>取得Token</h4>
        <hr>
        接口名称：<code>GetToken</code><br/>
        接口说明：取得Token，登入后才可取得。<br/>
        范例：
        <% include ../code/swift-getToken.html %>
        返回值： 成功的话会得到一个String?，失败的话会得到一个nil
    </div>
    <br>
    <div id="ForgotPassword">
        <h1>查询密码</h1>
        <hr>
        接口名称：<code>ForgotPassword</code><br/>
        接口说明：调用找回密码页面进行重设密码。<br/>
        范例：
        <pre>SgSDK.Instance.ForgotPassword()</pre>
        <div class="well well-sm">
            <img src=<%= "assets/img/" + lang + "/pic09.png" %>>
        </div>
        返回值：<a href="/webapi-init#section5"> 查看回传值定义 </a>
    </div>
    <br>
    <div id="ChangePassword">
        <h1>变更密码</h1>
        <hr>
        接口名称：<code>ChangePassword</code><br/>
        接口说明：调用变更密码页面。<br/>
        范例：
        <pre>SgSDK.Instance.ChangePassword()</pre>
        <div class="well well-sm">
            <img src=<%= "assets/img/" + lang + "/pic10.png" %>>
        </div>
        返回值：<a href="/webapi-init#section5"> 查看回传值定义 </a>
    </div>
    <br>
    <div id="ParentalLock">
        <h1>家长安全操作</h1>
        <hr>
        接口名称：<code>ParentalLock</code><br/>
        接口说明：在呼叫帐号设置前需要先呼叫家长安全操作页面以防孩童误击重要功能。<br/>
        范例：
        <pre>SgSDK.Instance.ParentalLock()</pre>
        <div class="well well-sm">
            <img src=<%= "assets/img/" + lang + "/pic11.png" %>>
        </div>
        返回值：无
    </div>
    <br>
    <div id="MyKid">
        <h1>设置孩童资料</h1>
        <hr>
        接口名称：<code>MyKid</code><br/>
        接口说明：调用新增孩童资料页面。<br/>
        范例：
        <pre>SgSDK.Instance.MyKid()</pre>
        <div class="well well-sm">
            <img src=<%= "assets/img/" + lang + "/pic12.png" %>>
        </div>
        返回值：<a href="/webapi-init#section5"> 查看回传值定义 </a>
    </div>
    <br>
    <div id="MyAccount">
        <h1>帐号资讯</h1>
        <hr>
        接口名称：<code>MyAccount</code><br/>
        接口说明：调用帐号总览页面，以浏览孩童游戏纪录。<br/>
        范例：
        <pre>SgSDK.Instance.MyAccount()</pre>
        <div class="well well-sm">
            <img src=<%= "assets/img/" + lang + "/pic13.png" %>>
        </div>
        返回值：无
    </div>
    <br>
    <div id="VerifySession">
        <h1>Session ID 登入验证</h1>
        <hr>
        接口名称：<code>VerifySession</code><br/>
        接口说明：使用 SessionID 取得登入帐号资讯<br/>
        参数列表：appId, session, uid, signature<br/>
        <table class="table">
            <col width="15%">
            <col width="85%">
            <tr>
                <th>参数名称</th>
                <th>描述</th>
            </tr>
            <tr>
                <td>appId</td>
                <td>Game key</td>
            </tr>
            <tr>
                <td>session</td>
                <td>Login后可用GetSessionID()取得</td>
            </tr>
            <tr>
                <td>uid</td>
                <td>Login后可用GetOpenID()取得</td>
            </tr>
            <tr>
                <td>signature</td>
                <td>server返回的簽名</td>
            </tr>
        </table>
        范例：
        <pre>SgSDK.Instance.VerifySession(appId: "app id", session: "session", uid: "uid", signature: "signature")</pre>
        返回值：
        <h4>Verify结构</h4>
        <table id="Verify" class="table">
            <col width="15%">
            <col width="85%">
            <tr>
                <th>参数名称</th>
                <th>描述</th>
            </tr>
            <tr>
                <td>Code</td>
                <td>状态代码</td>
            </tr>
            <tr>
                <td>Msg</td>
                <td>状态描述</td>
            </tr>
            <tr>
                <td>Account</td>
                <td>帐号</td>
            </tr>
            <tr>
                <td>OpenID</td>
                <td>Open ID</td>
            </tr>
            <tr>
                <td>EMail</td>
                <td>EMail</td>
            </tr>
        </table>
    </div>
    <br>
    <div id="VerifyToken">
        <h1>Token 登入验证</h1>
        <hr>
        接口名称：<code>VerifyToken</code><br/>
        接口说明：使用 Token 取得登入帐号资讯<br/>
        参数列表：token<br/>
        范例：
        <pre>SgSDK.Instance.VerifyToken(token: "token")</pre>
        返回值： <a href="#Verify">Verify结构</a>
    </div>
    <br>
    <div id="Logout">
        <h1>登出</h1>
        <hr>
        接口名称：<code>Logout</code><br/>
        接口说明：帐号登出<br/>
        范例：
        <pre>SgSDK.Instance.Logout()</pre>
        返回值：无
    </div>
    <br>
    <div id="IsLogined">
        <h1>取得登入状态</h1>
        <hr>
        接口名称：<code>IsLogined</code><br/>
        接口说明：判断是否为登入状态<br/>
        范例：
        <pre>SgSDK.Instance.IsLogined()</pre>
        返回值： True为已登入，False为未登入
    </div>
    <br>
    <div id="GetChannelID">
        <h1>取得平台ID</h1>
        <hr>
        接口名称：<code>GetChannelID</code><br/>
        接口说明：取得平台名称<br/>
        范例：
        <pre>SgSDK.Instance.GetChannelID()</pre>
        返回值： 取得平台ID，例如：appstore
    </div>
    <br>
    <div id="ShowFloatingButton">
        <h1>显示悬浮按钮</h1>
        <hr>
        接口名称：<code>ShowFloatingButton</code><br/>
        接口说明：显示悬浮按钮，登入后自动显示<br/>
        参数列表：
        <table class="table">
            <col width="20%">
            <col width="80%">
            <tr>
                <th>位置状态码</th>
                <th>状态描述</th>
            </tr>
            <tr>
                <td>eFloatingButtonPlace.LeftTop</td>
                <td>左上角</td>
            </tr>
            <tr>
                <td>eFloatingButtonPlace.Top</td>
                <td>上方</td>
            </tr>
            <tr>
                <td>eFloatingButtonPlace.RightTop</td>
                <td>右上角</td>
            </tr>
            <tr>
                <td>eFloatingButtonPlace.Left</td>
                <td>左方</td>
            </tr>
            <tr>
                <td>eFloatingButtonPlace.Right</td>
                <td>右方</td>
            </tr>
            <tr>
                <td>eFloatingButtonPlace.LeftBottom</td>
                <td>左下角</td>
            </tr>
            <tr>
                <td>eFloatingButtonPlace.Bottom</td>
                <td>下方</td>
            </tr>
            <tr>
                <td>eFloatingButtonPlace.RightBottom</td>
                <td>右下角</td>
            </tr>
        </table>
        范例：
        <pre>SgSDK.Instance.ShowFloatingButton(place: .Right)</pre>
        返回值：无
    </div>
    <br>
    <div id="HideFloatingButton">
        <h1>隐藏悬浮按钮</h1>
        <hr>
        接口名称：<code>HideFloatingButton</code><br/>
        接口说明：隐藏悬浮按钮<br/>
        范例：
        <pre>SgSDK.Instance.HideFloatingButton()</pre>
        返回值：无
    </div>
</div>
</body>