<div class="left-side" id="myScrollspy">

        <ul class="nav nav-pills">
            <li><a href="#section1">Web API 用户系统接口</a></li>
            <li><a href="#section2">登入</a></li>
            <li><a href="#section3">创帐号</a></li>
            <li><a href="#section4">查询密码</a></li>
            <li><a href="#section5">变更密码</a></li>
            <li><a href="#section6">家长安全操作</a></li>
            <li><a href="#section7">设置孩童资料</a></li>
            <li><a href="#section8">帐号资讯</a></li>
            <li><a href="#section9">取得用户 Open ID</a></li>
            <li><a href="#section10">Session ID 登入验证</a></li>
            <li><a href="#section11">Token 登入验证</a></li>
            <li><a href="#section12">登出</a></li>
        </ul>

</div>

<div class="right-side">
    <div id="section1">
            <h1>Web API 用户系统接口</h1>
            <hr>
            <h4>用户系统接口包含创帐号、登入、查询密码、变更密码、家长安全操作、设置孩童资料、帐号总览、取得用户 ID、登出，跟 SG 会员帐号相关等功能。 </h4>
        </div>
    <br/>

    <div id="section2">
            <h1>登入</h1>
            <hr>
            <p> 接口名称：<code>login</code><br/>
                接口说明：调用登入页面进行登入。 <br/>
                HTTP Method : <code>GET</code><br/>
                范例：<pre><code class="js">http://gameapi.smartgamesltd.com/login</code></pre>

                <div class="well well-sm">
                    <img src=<%= "assets/img/" + lang + "/pic07.png"%> class="img-responsive"/>
                </div>

                调用回传页面的 JavaScript 函式 <code>GetResult()</code> 来取得回传结果。该函式回传 JSON 字串，例如<code>{"code": 1, "msg": "ok"}</code>。 <br/>
                <a href="/webapi-init#section5"> 查看回传值定义 </a>
            </p>

            <table class="table table-striped"> <!--Gem Start-->
                <thead>
                <tr>
                    <th>
                        变数
                    </th>
                    <th>
                        详细说明
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        Code
                    </td>
                    <td>
                        code = 201 为成功，其他都是失败。
                    </td>
                </tr>

                <tr>
                    <td>
                        OpenID
                    </td>
                    <td>
                        登入帐号的 SG 平台识别 ID，登入成功后以此 ID 登入游戏伺服器。
                    </td>
                </tr>

                <tr>
                    <td>
                        SessionID
                    </td>
                    <td>
                        连线的 SessionID，用以登入二次验证。
                    </td>
                </tr>
                <tr>
                    <td>
                        Token
                    </td>
                    <td>
                        成功登入后可以此 Token 向渠道 Server 取得帐号资料。
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    <br/>
    <div id="section3">
        <h1>创帐号</h1>
        <hr>
        <p> 接口名称：<code>signup</code><br/>
            接口说明：调用创帐号页面创建 SG 会员帐号。 <br/>
            HTTP Method : <code>GET</code><br/>
            范例：<pre><code class="js">http://gameapi.smartgamesltd.com/signup</code></pre>

            <div class="well well-sm">
                <img src=<%= "assets/img/" + lang + "/pic08.png"%> class="img-responsive"/>
            </div>

            调用回传页面的 JavaScript 函式 <code>GetResult()</code> 来取得回传结果。该函式回传 JSON 字串，例如<code>{"code": 1, "msg": "ok"}</code>。 <br/>
            <a href="/webapi-init#section5"> 查看回传值定义 </a>
        </p>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    变数
                </th>
                <th>
                    详细说明
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    Code
                </td>
                <td>
                    code = 301 为成功，其他都是失败。
                </td>
            </tr>
            <tr>
                <td>
                    OpenID
                </td>
                <td>
                    登入帐号的 SG 平台识别 ID，登入成功后以此 ID 登入游戏伺服器。
                </td>
            </tr>

            <tr>
                <td>
                    SessionID
                </td>
                <td>
                    连线的 SessionID，用以登入二次验证。
                </td>
            </tr>
            <tr>
                <td>
                    Token
                </td>
                <td>
                    成功登入后可以此 Token 向渠道 Server 取得帐号资料。
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <div id="section4">
        <h1>查询密码</h1>
        <hr>
        <p> 接口名称：<code>forgot-password</code><br/>
            接口说明：调用找回密码页面进行重设密码。 <br/>
            HTTP Method : <code>GET</code><br/>
            范例：<pre><code class="js">http://gameapi.smartgamesltd.com/forgot-password</code></pre>

            <div class="well well-sm">
                <img src=<%= "assets/img/" + lang + "/pic09.png"%> class="img-responsive"/>
            </div>

            调用回传页面的 JavaScript 函式 <code>GetResult()</code> 来取得回传结果。该函式回传 JSON 字串，例如<code>{"code": 1, "msg": "ok"}</code>。 <br/>
            <a href="/webapi-init#section5"> 查看回传值定义 </a>
        </p>
    </div>
    <br/>
    <div id="section5">
        <h1>变更密码</h1>
        <hr>
        <p> 接口名称：<code>change-password</code><br/>
            接口说明：调用变更密码页面。 <br/>
            HTTP Method : <code>GET</code><br/>
            范例：<pre><code class="js">http://gameapi.smartgamesltd.com/change-password</code></pre>

            <div class="well well-sm">
                <img src=<%= "assets/img/" + lang + "/pic10.png"%> class="img-responsive"/>
            </div>

            调用回传页面的 JavaScript 函式 <code>GetResult()</code> 来取得回传结果。该函式回传 JSON 字串，例如<code>{"code": 1, "msg": "ok"}</code>。 <br/>
            <a href="/webapi-init#section5"> 查看回传值定义 </a>
        </p>
    </div>
    <br/>
    <div id="section6">
        <h1>家长安全操作</h1>
        <hr>
        <p> 接口名称：<code>parental-lock</code><br/>
            接口说明：在呼叫帐号设置前需要先呼叫家长安全操作页面以防孩童误击重要功能。 <br/>
            HTTP Method : <code>GET</code><br/>
            范例：<pre><code class="js">http://gameapi.smartgamesltd.com/parental-lock</code></pre>

            <div class="well well-sm">
                <img src=<%= "assets/img/" + lang + "/pic11.png"%> class="img-responsive"/>
            </div>

            返回值：无<br/>
            后续处理：正确输入安全码后会自动转跳至 my-account 页面。若尚未建立任何孩童资料则会转跳至 my-kid 页面。
        </p>
    </div>
    <br/>
    <div id="section7">
        <h1>设置孩童资料</h1>
        <hr>
        <p> 接口名称：<code>my-kid</code><br/>
            接口说明：调用新增孩童资料页面。 <br/>
            HTTP Method : <code>GET</code><br/>
            范例：<pre><code class="js">http://gameapi.smartgamesltd.com/my-kid</code></pre>

            <div class="well well-sm">
                <img src=<%= "assets/img/" + lang + "/pic12.png"%> class="img-responsive"/>
            </div>

            调用回传页面的 JavaScript 函式 <code>GetResult()</code> 来取得回传结果。该函式回传 JSON 字串，例如<code>{"code": 1, "msg": "ok"}</code>。 <br/>
            <a href="/webapi-init#section5"> 查看回传值定义 </a>
        </p>
        <br/>
    </div>
    <br/>
    <div id="section8">
        <h1>帐号资讯</h1>
        <hr>
        <p> 接口名称：<code>my-account</code><br/>
            接口说明：调用帐号总览页面，以浏览帐号与孩童游戏纪录。 <br/>
            HTTP Method : <code>GET</code><br/>
            范例：<pre><code class="js">http://gameapi.smartgamesltd.com/my-account</code></pre>

        <div class="well well-sm">
            <img src=<%= "assets/img/" + lang + "/pic13.png"%> class="img-responsive"/>
        </div>

        返回值：无
        </p>
    </div>
    <br/>
    <div id="section9">
        <h1>取得用户 Open ID</h1>
        <hr>
        <p> 接口名称：<code>openid</code><br/>
            接口说明：取得用户唯一识别 ID (SG ID)，以此 ID 登入游戏伺服器。 <br/>
            HTTP Method : <code>GET</code><br/>
            范例：<pre><code class="js">http://gameapi.smartgamesltd.com/openid</code></pre>
            返回值：取得用户 Open ID 返回值以 JSON 格式回传，例如<code>{"openid": 100001}</code>。
        </p>
    </div>
    <br/>
    <div id="section10">
        <h1>Session ID 登入验证</h1>
        <hr>
        <p>
            接口名称：<code>verifysession</code><br/>
            接口说明：使用 SessionID 取得登入帐号资讯。
            参数列表： <br/>
        </p>
        <table class="table table-striped"> <!--Gem Start-->
            <thead>
            <tr>
                <th>
                    参数名称
                </th>
                <th>
                    参数说明
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    appId
                </td>
                <td>
                    开发者申请开通游戏后取得的gamekey。例如 d7e73390-d7fd-11e6-9074-21c247f06802
                </td>
            </tr>
            <tr class>
                <td>
                    session
                </td>
                <td>
                    登入成功后取得的 sessionID。
                </td>
            </tr>
            <tr>
                <td>
                    uid
                </td>
                <td>
                    登入成功后取得的openid。
                </td>
            </tr>
            <tr>
                <td>
                    signature
                </td>
                <td>
                    登入成功后回传的sign。
                </td>
            </tr>

            </tbody>
        </table>
        <p>
            HTTP Method : <code>GET</code><br/>
            范例：<pre><code class="js">http://gameapi.smartgamesltd.com/verifysession?appId=d7e73390-d7fd-11e6-9074-21c247f06802&session=xxxx&uid=10000000&signature=xxxx</code></pre>
            返回值：回传 JSON 字串。 <br/>
            例如<code>{"Account" : "abc@gmail.com", "OpenID" : 1000000000, "EMail" : "abc@gmail.com"}</code>。 <br/>
        </p>
    </div>
    <br/>
    <div id="section11">
        <h1>Token 登入验证</h1>
        <hr>
        <p>
            接口名称：<code>verifytoken</code><br/>
            接口说明：使用 Token 取得登入帐号资讯。 <br/>
            参数：token（登入成功后取得）<br/>
            HTTP Method : <code>GET</code><br/>
            范例：<pre><code class="js">http://gameapi.smartgamesltd.com/verifytoken?token=xxxxx</code></pre>
            返回值：回传 JSON 字串。 <br/>
            例如<code>{"Account" : "abc@gmail.com", "OpenID" : 1000000000, "EMail" : "abc@gmail.com"}</code>。 <br/>
        </p>
    </div>
    <br/>
    <div id="section12">
        <h1>登出</h1>
        <hr>
        <p>
            接口名称：<code>logout</code><br/>
            接口说明：帐号登出<br/>
            HTTP Method : <code>GET</code><br/>
            范例：<pre><code class="js">http://gameapi.smartgamesltd.com/logout</code></pre>
            返回值：无
        </p>
    </div>
</div>