<div class="left-side" id="myScrollspy">
    <ul class="nav nav-pills">
        <li><a href="#MemberSystem">用戶系統</a></li>
        <li><a href="#Login">登入</a></li>
        <li><a href="#Recover">恢復</a></li>
        <li><a href="#Logout">登出</a></li>
        <li><a href="#Exit">退出</a></li>
    </ul>
</div>
<div class="right-side">
    <section id="MemberSystem">
        <h1>用戶系統</h1>
        <p>SGUtil For Unity 的用戶系統提供了下列方法供應用使用。</p>
    </section>

    <section id="Login">
        <h1>登入</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">方法</span>
                <p><pre>void Login()</pre></p>

                <span class="badge badge-ttl">說明</span>
                <ul>
                    <li>調起渠道登入界面，並由此進入渠道登入二次確認，登入遊服的整套流程。</li>
                    <li>登入結果會通過回調 OnLogin 來通知。</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <!--<span class="badge badge-ttl">WebView 頁面</span>
                <a href="<%= " assets/img/" + lang + "/pic07.png" %>" data-toggle="lightbox">
                <img src="<%= " assets/img/" + lang + "/pic07.png" %>" class="img-responsive"/>
                </a>-->
            </div>
        </div>
    </section>

    <section id="Recover">
        <h1>恢復</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">方法</span>
                <p><pre>void Recover(string recover_token)</pre></p>

                <span class="badge badge-ttl">參數</span>
                <ul>
                    <li>recover_token - 恢複用的令牌</li>
                </ul>

                <span class="badge badge-ttl">說明</span>
                <ul>
                    <li>在登出後快速恢復渠道會話。</li>
                    <li>遊服登入正常進行，不可恢復。</li>
                    <li>恢復結果會通過回調 OnLogin 來通知。</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <!--<span class="badge badge-ttl">WebView 頁面</span>
                <a href="<%= " assets/img/" + lang + "/pic07.png" %>" data-toggle="lightbox">
                <img src="<%= " assets/img/" + lang + "/pic07.png" %>" class="img-responsive"/>
                </a>-->
            </div>
        </div>
    </section>

    <section id="LoginCallback">
        <h1>登入回調</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">方法</span>
                <p><pre>void OnLogin(SGUResult resultCode, string recover_token)</pre></p>

                <span class="badge badge-ttl">參數</span>
                <ul>
                    <li>resultCode - 結果碼</li>
                    <li>recover_token - 用於在登出後快速恢復會話的令牌</li>
                </ul>

                <span class="badge badge-ttl">說明</span>
                <ul>
                    <li>登入流程任一階段的失敗或取消都意謂着登入未成功。</li>
                    <li>只有最後一階段的遊服登入成功才表明整個登入流程完成。</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <!--<span class="badge badge-ttl">WebView 頁面</span>
                <a href="<%= " assets/img/" + lang + "/pic07.png" %>" data-toggle="lightbox">
                <img src="<%= " assets/img/" + lang + "/pic07.png" %>" class="img-responsive"/>
                </a>-->
            </div>
        </div>
    </section>

    <section id="Logout">
        <h1>登出</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">方法</span>
                <p><pre>void Logout()</pre></p>

                <span class="badge badge-ttl">說明</span>
                <ul>
                    <li>開始遊服登出和渠道登出流程。</li>
                    <li>遊服登出後開始登出渠道，但是無論渠道登出成功與否都認爲整個登出流程完成。</li>
                    <li>登出結果會通過回調 OnLogout 來通知。</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <!--<span class="badge badge-ttl">WebView 頁面</span>
                <a href="<%= " assets/img/" + lang + "/pic07.png" %>" data-toggle="lightbox">
                <img src="<%= " assets/img/" + lang + "/pic07.png" %>" class="img-responsive"/>
                </a>-->
            </div>
        </div>
    </section>

    <section id="LogoutCallback">
        <h1>登出回調</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">方法</span>
                <p><pre>void OnLogout(SGUResult resultCode)</pre></p>

                <span class="badge badge-ttl">參數</span>
                <ul>
                    <li>resultCode - result code</li>
                </ul>

                <span class="badge badge-ttl">說明</span>
                <ul>
                    <li>登出結果通過這個回調來通知調用者。</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <!--<span class="badge badge-ttl">WebView 頁面</span>
                <a href="<%= " assets/img/" + lang + "/pic07.png" %>" data-toggle="lightbox">
                <img src="<%= " assets/img/" + lang + "/pic07.png" %>" class="img-responsive"/>
                </a>-->
            </div>
        </div>
    </section>

    <section id="Exit">
        <h1>退出</h1>
        <div class="row">
            <div class="col-sm-9">
                <span class="badge badge-ttl">方法</span>
                <p><pre>void Exit(bool silent)</pre></p>

                <span class="badge badge-ttl">參數</span>
                <ul>
                    <li>silent - true：不顯示確認畫面，false：顯示確認畫面</li>
                </ul>

                <span class="badge badge-ttl">說明</span>
                <ul>
                    <li>退出應用。</li>
                    <li>可以通過先自行顯示確認畫面，並在用戶選擇退出的情況下調用 Exit(false) 來退出應用。</li>
                </ul>

            </div>
            <div class="col-sm-3">
                <!--<span class="badge badge-ttl">WebView 頁面</span>
                <a href="<%= " assets/img/" + lang + "/pic07.png" %>" data-toggle="lightbox">
                <img src="<%= " assets/img/" + lang + "/pic07.png" %>" class="img-responsive"/>
                </a>-->
            </div>
        </div>
    </section>

</div>
